<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%- typeof title != "undefined" ? title + " &mdash; powered by unhangout" : "Unhangout" %></title>
	<!-- <link rel="stylesheet" href="/public/css/bootstrap.css" type="text/css" media="screen"> -->
	<link href="/public/vendor/bootstrap/css/bootstrap.no-responsive.no-icons.min.css" rel="stylesheet">
    <link href="/public/vendor/font-awesome-3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/public/vendor/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/public/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/public/img/unhangout-favicon.png">
	<link href="/public/css/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet">
	<link href="/public/css/summernote.css" type="text/css" rel="stylesheet">

	<script type="text/javascript" charset="utf-8">
        // Set global datastructures for use by js.
        // TODO: only set these when used, rather than assuming they're there.
		<% if(!_.isUndefined(user)) { %>
		var SOCK_KEY = '<%= user.getSockKey() %>';
		var USER_ID = '<%= user.id %>';
        var USER_NAME = '<%= user.get("displayName").replace("'", "\\'") %>';
        var IS_ADMIN = <%= user.isAdminOf(event) %>;
        var IS_SUPERUSER = <%= user.isSuperuser() %>;
		<% } %>
	</script>
</head>
<body>
