<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%- typeof title != "undefined" ? title + " &mdash; powered by unhangout" : "Unhangout" %></title>
	<!-- <link rel="stylesheet" href="/public/css/bootstrap.css" type="text/css" media="screen"> -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.no-responsive.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	
	<link href="/public/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/public/img/unhangout-favicon.png">

	<script type="text/javascript" src="//code.jquery.com/jquery-2.0.0.js"></script>
	<!-- Jquery validator plugin -->
  	<script src="public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.0-rc4-bundled/backbone.marionette.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.paginator/0.8/backbone.paginator.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/logger.js"></script>
	<script type="text/javascript" charset="utf-8">
		// switch underscore templating to {{ }} so it doesn't conflict with ejs.
		_.templateSettings = {
		    interpolate : /\{\{=(.+?)\}\}/g,
            escape: /\{\{-(.+?)\}\}/g,
            evaluate: /\{\{(.+?)\}\}/g
		};
	
		<% if(!_.isUndefined(user)) { %>
		var SOCK_KEY = '<%= user.getSockKey() %>';
		var USER_ID = '<%= user.id %>';
        var IS_ADMIN = <%= user.isAdminOf(event) %>;
        var IS_SUPERUSER = <%= user.isSuperuser() %>;
		<% } %>

		<% if(!_.isUndefined(event)) { %>
		var EVENT_ATTRS = <%- JSON.stringify(event.toClientJSON()) %>;
		<% } %>
	</script>
</head>
<body>
