Hello, <br/> <br/>

We are writing from the Unhangout platform.

<%= adminInviterName %> (<a href="<%= adminInviterEmail %>"><%= adminInviterEmail %></a>) is inviting you to become an administrator for the upcoming Unhangout event: <a href='<%= baseUrl %>/event/<%= eventID %>'><%= eventTitle %> </a> <br/> <br/>

Next steps: <br/>
1) Please go to <a href="https://unhangout.media.mit.edu/" target="_blank">https://unhangout.media.mit.edu</a> and log in with your Google account.	<br/>
2) Reply to this email to let <%= adminInviterName %> know that you're ready to join them as an admin. <br/><br/>

Cheers, <br/>
The Unhangout Team <br/> <br/>

PS: Any other questions? Check out the <a href="https://unhangout.media.mit.edu/faq/" target="_blank">FAQ</a> or email us at <a href="mailto:unhangout@media.mit.edu" target="_blank">unhangout@media.mit.edu</a>