<% include header.ejs %>
<script>

	$("button").click(function() {
		console.log("click");

		$("form").submit();
		return false;
	})
</script>

<form class="form-horizontal" action="/admin/event/<%=event.id%>" method="post" encoding="application/x-www-form-urlencoded">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
      <input type="text" id="inputTitle" name="title" placeholder="Title" value="<%=event.get("title") %>">
    </div>
   </div>

  <div class="control-group">
    <label class="control-label" for="inputShortName">Short name</label>
    <div class="controls">
      <input type="text" id="inputShortName" name="shortName" placeholder="Short name" value="<%=event.get("shortName") %>">
    </div>
  </div>

<div class="control-group">
    <label class="control-label" for="inputOrganizer">Organizer</label>
    <div class="controls">
      <input type="text" id="inputOrganizer" placeholder="Organizer" name="organizer" value="<%=event.get("organizer") %>">
    </div>
  </div>

<div class="control-group">
    <label class="control-label" for="inputDescription">Description</label>
    <div class="controls">
      <textarea rows=10 type="text" id="inputDescription" name="description" placeholder="Description"><%=event.get("description")%></textarea>
    </div>
  </div>

<div class="control-group">
    <label class="control-label" for="inputWelcomeMessage">Welcome Message</label>
    <div class="controls">
      <textarea rows=10 type="text" id="inputWelcomeMessage" name="welcomeMessage" placeholder="welcome message"><%=event.get("welcomeMessage")%></textarea>
    </div>
  </div>


  	<button class="btn btn-primary">Update</button>
</form>


<% include footer.ejs %>