<% include _header.ejs %>
<% include _navbar.ejs %>

<script>
  document.querySelector("#admin-nav").className = "active";
</script>

<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span12'>
            <h1>Admin</h1>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span6' id='events'>
            <h3>Events <a href="/admin/event/new" class="btn btn-primary">new</a></h3>
            <% events.forEach(function(event) { %>
                <div class='admin-event-row'>
                    <% if(event.isLive()) { %>
                    <form action="/admin/event/<%=event.id%>/stop" method="post">
                        <button type="submit" class="btn btn-danger stop-event"
                                data-event='<%= event.id %>'>stop</button>
                    </form>
                    <% } else { %>
                    <form action="/admin/event/<%=event.id%>/start" method="post">
                        <button type="submit" class="btn btn-success start-event"
                                data-event='<%= event.id %>'>start</button>
                    </form>
                    <% } %>
                    <a href="/admin/event/<%=event.id%>" class="btn btn-small">
                        <i class='icon-pencil' title='Edit'></i>
                    </a>
                    <a href="/event/<%= event.id %>">
                        <%= event.get("title") + " (" + event.get("shortName") + ")" %>
                    </a>
                    <% var sessions = event.get("sessions").models; %>
                    <% include _admin_session_table.ejs %>
                </div>
            <% }); %>
          </div>
        <% if (permalinkSessions) { %>
          <div class='span6'>
            <h3>Permalink Sessions</h3>
            <% var sessions = permalinkSessions; %>
            <% include _admin_session_table.ejs %>
        </div>
      <% } %>
    </div>
</div>
<script type='text/javascript'>
    $("[rel=popover]").popover({container: "body", placement: "left"});
    $("[title]").not("[rel=popover]").tooltip({container: "body"});
</script>

<% include _footer.ejs %>
