<p><b>From:</b> <%= userEmail %></p>
<p><b>Event Title:</b> <%= eventTitle %></p>
<p><b>Event Description:</b> <%= eventDescription %></p>
<hr>
<p><%= host %></p>
<p><%= new Date().toLocaleString() %></p>
