<% include header.ejs %>

<script>
  $(".nav li.active").removeClass("active");
  $("#admin-nav").addClass("active");
</script>

<h1>Admin</h1>

<h3>Events <a href="/admin/event/new" class="btn brn-success">new</a></h3>

<table id="events">
<% events.forEach(function(event) { %>
<tr>
	<td>
	<a href="/event/<%= event.id %>"><%= event.get("title") + " (" + event.get("shortName") + ")" + (event.isLive() ? " LIVE  " : "") %></a>
	</td>

	<td class="admin-table-buttons"><a href="/admin/event/<%=event.id%>" class="btn btn-primary">edit</a>

	<% if(event.isLive()) { %>
	<form action="/admin/event/<%=event.id%>/stop" method="post">
		<button type="submit" class="btn btn-danger">stop</submit>
	</form>
	<% } else { %>
	<form action="/admin/event/<%=event.id%>/start" method="post">
		<button type="submit" class="btn btn-success">start</submit>
	</form>
	<% } %>
</tr>
<% }); %>
</table>

<table id="permalinks">
	<% permalinkSessions.forEach(function(session) { %>
	<tr>
		<td><%= session.get("shortCode") %></td>
		<td><%= session.get("connectedParticipantIds").length %></td>
		<td><%= session.get("total-seconds") %></td>
		<td><%= session.get("total-instances") %></td>
		<td><%= session.get("user-seconds") %></td>
	</tr>
	<% }) %>
</table>

<% include footer.ejs %>