<% include _header.ejs %>
<% include _navbar.ejs %>

<div class="container create-unhangout-container">
    <% if (event.id) { %>
        <h2>Update <%= event.get("title") %></h2>
    <% } else { %>
        <h2>Create an Unhangout <small>It's free and always will be.</small></h2>
    <% } %>

    <div class="event-form-container">
    <br/>

        <form class="form-horizontal"
              action="/admin/event/<%= event.id || "new" %>"
              method="post" encoding="application/x-www-form-urlencoded">


        <div class="form-group<%= errors.title ? " error" : "" %>">
            <label class="col-lg-2 control-label" for="inputTitle">Event Title</label>
            
            <div class="col-lg-9">
                <input class="form-control" type="text" id="inputTitle" name="title"
                       placeholder="Give your event a catchy title"
                       value="<%= event.get("title") || "" %>"
                       required>
                <% if (errors.title) { %>
                    <span class='help-inline'><%= errors.title %></span>
                <% } %>
            </div>
        </div>


        <div class="form-group<%= errors.organizer ? " error" : "" %>">
            <label class="col-lg-2 control-label" for="inputOrganizer">Event Organizer</label>

            <div class="col-lg-9">
                <input class="form-control" type="text" id="inputOrganizer"
                       placeholder="Tell your attendees who is organizing this event"
                       name="organizer"
                       value="<%= event.get("organizer") || "" %>">
                <% if (errors.organizer) { %>
                    <span class='help-inline'><%= errors.organizer %></span>
                <% } %>
            </div>

        </div>

        <div class="form-group<%= errors.shortName ? " error" : "" %>">
            <label class="col-lg-2 control-label" for="inputShortName">Event URL</label>

            <div class="col-lg-5">
                <input class="form-control" style="text-align: right;" type="text" id="eventURL"
                       placeholder="<%= baseUrl %>/event/" disabled>
            </div>

            <div class="col-lg-4">
                <input class="form-control" type="text" id="inputShortName" name="shortName"
                       placeholder="event-url"
                       value="<%= event.get("shortName") || "" %>">
                <% if (errors.shortName) { %>
                    <span class='help-inline'><%= errors.shortName %></span>
                <% } %>
            </div>

        </div>

        <div class="form-group<%= errors.dateAndTime ? " error" : "" %>">
            <label class="col-lg-2 control-label" for="inputDate">Event Date/Time</label>

           
            <div class="col-lg-9 input-append date form_datetime">

                <input class="form-control col-lg-7" type="text" style="cursor: pointer;"
                   <% if (!event.get("dateAndTime")) { %>
                       value=""
                   <% } else { %>
                       value="<%= moment(event.get("dateAndTime")).format(event.DATE_DISPLAY_FORMAT) %>"
                   <% } %>
                   name="dateAndTime" id="dateAndTime" readonly>

            
                <span class="form-control col-lg-1 add-on add-icon"><i class="icon-remove fa fa-remove"></i></span>
               
                <span class="form-control col-lg-1 add-on remove-icon"><i class="icon-th fa fa-th"></i></span>

                <% if (errors.dateAndTime) { %>
                    <span class='help-inline'><%= errors.dateAndTime %></span>
                <% } %>
                
            </div>
         
        </div>

        <div class="form-group<%= errors.timeZoneValue ? " error" : "" %>">
            <label id="tzLabel" class="col-lg-2 control-label" for="timeZone">Time Zone</label>
          
            <div class="col-lg-9">
                <select id="timeZoneValue" name="timeZoneValue"
                        class="form-control">
                    <option value=""></option>
                    <!-- options created in script below -->
                </select>
                <% if (errors.timeZoneValue) { %>
                    <span class='help-inline'><%= errors.timeZoneValue %></span>
                <% } %>
               
            </div>

        </div>

        <div class="form-group<%= errors.description ? " error" : "" %>">
            <label class="col-lg-2 control-label" for="inputDescription">Event Description </label>
           
            <div class="col-lg-9">
                <textarea class="form-control" name="description"
                    rows=5 cols=40
                    required><%= event.get("description") || "" %></textarea>
            </div>
            <% if (errors.description) { %>
                <span class='help-inline'><%= errors.description %></span>
            <% } %>
           
        </div>

        <% if (user.isSuperuser()) { %>
            <div class="form-group<%= errors.overflowUserCap ? " error" : "" %>">
                <label class="col-lg-2 control-label" for="overflowUsersCap">Overflow User Capacity</label>
                
                <% if (errors.overflowUserCap) { %>
                    <span class='help-inline'><%= errors.overflowUserCap %></span><br />
                <% } %>

                <div class="col-lg-9">
                    <input class="form-control" type='number' min="0" step="5"
                       value='<%= event.get("overflowUserCap") %>'
                       name="overflowUserCap" id="overflowUserCap" />

                    <span class='help-inline'>
                    Send users to the 'overflow' page if more than this number connect. 
                    </span>

                </div>
            </div>  

        <% } %>

        <div class="form-group<%= errors.overflowMessage ? " error" : "" %>">
            <label class='col-lg-2 control-label' for='overflowMessage'>Overflow Message</label>
           
            <% if (errors.overflowMessage) { %>
                <span class='help-inline'><%= errors.overflowMessage %></span>
            <% } %>

            <div class='col-lg-9'>
                <textarea class="form-control" rows=3 cols=40 type="text" id="overflowMessage"
                          name="overflowMessage"
                    ><%= event.get("overflowMessage") || "" %></textarea>

                <span class='help-inline'>This message is shown to users if the event is over capacity. Could include links to a backup forum or youtube video, for example.</span>

            </div>
        </div>

        <div class="form-group">
            <div class='col-lg-offset-2 col-lg-9'>
                <button class="form-control btn btn-primary create-event" type='submit'>
                    <%= event.id ? "UPDATE MY EVENT" : "CREATE MY UNHANGOUT EVENT" %>
                </button>
            </div>
        </div>

        </form>
    </div>
</div>

<script>
    var EVENT_DATA = <%- JSON.stringify(event.toClientJSON()) %>;
</script>
<%- requireScripts("/public/js/admin-event.js") %>
<% include _footer.ejs %>
