<% include _header.ejs %>
<% include _event-navbar.ejs %>

<script type='text/javascript'>
    // Rewrite login links to use event-specific login URL.
    var loginLinks = document.querySelectorAll("[href='/auth/google']");
    for (var i = 0; i < loginLinks.length; i++) {
        loginLinks[i].href = "<%= event.getEventUrl() + "/auth/" %>";
    }
</script>

    <div class='event-static'>
        <h3><%= title %></h3>
        <h4 style="color: #2E7DAA">hosted by <%- event.get("organizer") %></h4>
        <br/>
        <% if (event.get("dateAndTime")) { %>
            <%= event.formatDate() %>
        <% } %>

        <br/> <br/>
        <%- event.get("description") %>
        <div style='clear: both;'></div>
    </div>

<%- requireScripts("/public/js/index.js") %>
<% include _footer.ejs %>
