<% include _header.ejs %>
<% include _event-navbar.ejs %>

<script>
    // Initial data
    var IS_ADMIN = <%= event && user.isAdminOf(event) %>;
    <% if(!_.isUndefined(event)) { %>
        var EVENT_ATTRS = <%- JSON.stringify(event.toClientJSON()) %>;
        var SESSION_ATTRS = <%- JSON.stringify(event.get("sessions").invoke("toClientJSON")) %>;
        var HOA_ATTRS = <%- event.get("hoa") && user.isAdminOf(event) ? JSON.stringify(event.get("hoa").toClientJSON()) : "null" %>;
        var CONNECTED_USERS = <%- JSON.stringify(event.get("connectedUsers").invoke("toClientJSON")) %>
        var RECENT_MESSAGES = <%- JSON.stringify(event.get("recentMessages")) %>;
    <% } %>
</script>

<div class="container event-page-container">
    <div id="app">
        <div class="row">
            <div id="global"></div>
            <div id="dialogs"></div>
        </div> 

        <div class="row" id="main">
            <div id="top"></div> 

            <div class="col-lg-5 left">
                <div id="top-left"></div>
                <div id="main-left"></div>     
            </div>

            <div id="main-right" class="col-lg-7"></div> 

        </div> 
    </div>

</div> 

<!-- event templates -->
<script type="text/template" id="about-event-template">
    <h3>{{- title }}</h3>
    {{ if (organizer) { }}
        <h4 style="color: #2E7DAA">hosted by {{= organizer }}</h4>
    {{ } }}
    <br/>
    {{ if (formattedDate) { }}
        {{- formattedDate }}
    {{ } }}
    <br/><br/>
    {{= description }}

    {{ if (event.get("open")) { }}

        <a class="scroll-up pull-right" href="#about-nav">
            <i class="icon-chevron-up chevron"></i>
        </a>

        </div>

     {{ } else { }}
        <div class="about-footer"><i>This event has not yet started, come back at the posted start time to participate!</i>
     {{ } }}


</script>

<script type="text/template" id="session-template">
    <h3>{{- title }}</h3>
    <div class="attend btn btn-info" data-toggle="button">
        <span class="outer"><i class="lock fa fa-lock"></i><span class="text">LOCKED</span></span>
        <div class="attendance"></div>
    </div>

    {{ if (IS_ADMIN) { }}

    <div class="admin-buttons">
        <div class="delete btn btn-warning"><i class="fa fa-trash-o"></i></div>
    </div>

    {{ } }}

    <ul class="hangout-users"></ul>
    <div class="hangout-offline">
        No one has joined this session yet.
    </div>
</script>

<script type="text/template" id="session-list-template">
    <div id="session-list-container" class="full-size-container">
        <div class="credits">powered by <a href="https://unhangout.media.mit.edu/">unhangout</a> from the <a href="http://media.mit.edu/">MIT Media Lab</a></div>
    </div>
    <div style='clear: both;'></div>
</script>

<script type="text/template" id="session-list-empty-template">
    <div id="session-list-container" class="full-size-container">
        <div class="empty-notice">Sessions will appear here when they are created by an admin.</div>
        <div class="credits">powered by <a href="https://unhangout.media.mit.edu/">unhangout</a> from the <a href="http://media.mit.edu/">MIT Media Lab</a></div>
    </div>
    <div style='clear: both;'></div>
</script>

<script type="text/template" id="pagination-template">
    <div class="footer">
        <div id="prev">prev</div>
            {{ _.each(info().pageSet, function(page) { }}
                {{ if(page==currentPage) { }}
                    <div class="active page">{{- page }}</div>
                {{ } else { }}
                    <div class="page">{{- page }}</div>
                {{ } }}
            {{ }) }}
            <div id="next">next</div>
        </div>
    </div>
</script>

<script type="text/template" id="user-template">
    {{ if(!picture) { }}
        <i class="icon-user icon-3x"></i>
    {{ } else if (link) { }}
        <a href="{{- link }}" target="_new"><img src="{{- picture}}" alt='profile'></a>
    {{ } else { }}
        <img src="{{- picture}}" alt='profile'>
    {{ } }}
</script>

<script type="text/template" id="user-list-template">
    <div class="header">
        <span class="contents">{{- numUsers}}</span><i class="icon-user"></i>
    </div>
    <div id="user-list-scroll-container">
        <ul id="user-list-container"></ul>
    </div>
</script>

<script type="text/template" id="chat-message-template">
    <span class="from">{{- user.shortDisplayName}}</span>{{= text}}
</script>

<script type="text/template" id="chat-layout">
    <div id="chat-container-region" class="col-lg-5">
        <div id='welcome-message'></div>
        <div id='chat-messages'></div>
        <div id="chat-input-region"></div>
    </div>
    <div id="presence-gutter" class="col-lg-2"></div>
</script>

<script type="text/template" id="welcome-message-template">
    {{= welcomeMessage }}
    {{ if (chatArchiveUrl) { }}
        <div class='chat-archive-link'>
            <a href='{{= chatArchiveUrl }}' target='_blank'>Chat Archive</a>
        </div>
    {{ } }}
</script>

<script type="text/template" id="chat-input-template">
    <form><input type="text" id="chat-input" autocomplete="off" placeholder='Type your message here'></input></form>
</script>

<script type="text/template" id="chat-template">
    <ul id="chat-list-container"></ul>
    <div class='over-capacity-warning'>
        <i class='fa fa-fire-extinguisher'></i>
        Oh no! The server is overloaded and couldn't send your message. Please
        try again soon.
    </div>
</script>

<script type="text/template" id="user-column-layout-template">
    <div id="user-list"></div>
    <div id="footer"></div>
</script>

<script type="text/template" id="video-embed-template">
    <div class='video-player row'></div>
    <!--<div class='video-placeholder row'>Video</div>-->
    <!--<div class='video-controls row'></div>-->
</script>

<script type='text/template' id="video-embed-controls-template">
    {{ if (youtubeEmbed) { }}
        <div class='current-video-controls'>
            <button class='btn btn-warning play-for-all'>
                {{ if (isPlayingForEveryone) { }}
                    <i class='fa fa-pause'></i> Pause for all
                {{ } else if (isAwaitingStart) { }}
                    <i class='fa fa-clock-o'></i> Awaiting start
                {{ } else { }}
                    <i class='fa fa-play'></i> Play for all
                {{ } }}
                <span class='button-time-indicator'></span>
            </button>
            <button class='btn btn-small pull-right remove-video'>
                Remove <i class='fa fa-times'></i>
            </button>
        </div>
    {{ } }}
    <div class='inline-video-controls'>
        <label>Set youtube video:</label>
        <div class='input-prepend input-append'>
            <span class='add-on'><i class='fa fa-youtube-play'></i></span>
            <input type="text" name="youtube_id" value=""
                   placeholder="https://youtube.com..." />
            <div class='btn-group'>
                <button class='btn btn-default set-video'
                        type="button">Set video</button>
                {{ if (previousVideoEmbeds.length > 0) { }}
                    <button class='btn btn-default dropdown-toggle'
                            data-toggle='dropdown'>
                        <i class='fa fa-list'></i>
                        <i class='fa fa-caret-down'></i>
                    </button>
                    <ul class='dropdown-menu pull-right previous-videos'>
                        <li><a class='restore-previous-video header'>Previous videos</a></li>
                        {{ _.each(previousVideoEmbeds, function(vid) { }}
                            <li>
                                <a tabindex='-1' href='#' class='restore-previous-video'
                                   data-youtube-id='{{= vid.youtubeId }}'>{{= vid.youtubeId }}</a>
                            </li>
                        {{ }); }}
                        <li><a class='clear-previous-videos'>
                            <i class='fa fa-trash-o'></i> Clear list
                        </a></li>
                    </ul>
                {{ } }}
            </div>
        </div>
        <p class="alert text-warning hide">Unrecognized youtube URL.  Please use the URL for a single video.</p>
    </div>

    <div class='button-group'>
        {{ if (hoaParticipationLink) { }}
            <div class='btn-group'>
                <a class='btn btn-default join-hoa' target='_blank'
                   href='{{= hoaParticipationLink }}'>
                    <i class='fa fa-users'></i> Join Hangout-on-Air
                </a>
                <button class='btn btn-warning remove-hoa' style='width: 15px; padding-left: 0px; padding-right: 0px;'><i class='fa fa-trash-o'></i></button>
        {{ } else { }}
            <a class='btn btn-default create-hoa' target='_blank'
               href='/event/{{- id }}/create-hoa/'>
                <i class='fa fa-users'></i> Create Hangout-on-Air
            </a>
        {{ } }}
    </div>
</script>

<script type='text/template' id="previous-video-details-template">
    <a tabindex='-1' href='#' class='restore-previous-video'
       style='text-align: left;'
       title='{{= title }}'
       data-youtube-id='{{= id }}'>
        <img src='{{= thumbnail.url }}' style='width: 64px; height: 48px' alt='thumbnail'>
        <span class='title'>{{= title }}</span>
        <span style='font-size: smaller; color: #999;'>
            {{= parseInt(duration/60) }}:{{= (duration%60) < 10 ? "0" + (duration%60) : (duration%60) }}
        </span>
    </a>
</script>

<script type="text/template" id="admin-button-template">
    <div class="dropdown">
        <a class="dropdown-toggle admin-button" data-toggle="dropdown"
           id='event-settings-label'>Event Settings</a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="event-settings-label">
            <li role="presentation">
                {{ if (event.get("open")) { }}
                    <a role="menuitem" href="#" role="buton" id='admin-stop-event'>
                        <i class='fa fa-stop fa-lg fa-fw'></i>
                        Stop event
                    </a>
                {{ } else { }}
                    <a role="menuitem" href="#" role="buton" id='admin-start-event'>
                        <i class='fa fa-play fa-lg fa-fw'></i>
                        Start event
                    </a>
                {{ } }}
                <a role="menuitem" href="#create-session-modal" role="button" data-toggle="modal" id="show-create-session-modal">
                    <i class="fa fa-plus-square fa-lg fa-fw"></i>&nbsp;Create Session
                </a>
                <a role="menuitem" href="/admin/event/" role="button" id="admin-page-for-event">
                    <i class="fa fa-pencil-square-o fa-lg fa-fw"></i>
                    Edit Event Info
                </a>
                {{ if (event.get("sessionsOpen")) { }}
                    <a role="menuitem" tabindex="-1" id="close-sessions" href='#'>
                        <i class="fa fa-lock fa-lg fa-fw"></i>
                        Close Sessions
                    </a>
                {{ } else { }}
                    <a role="menuitem" tabindex="-1" id="open-sessions" href='#'>
                        <i class="fa fa-unlock fa-lg fa-fw"></i>
                        Open Sessions
                    </a>
                {{ } }}
                <a role="menuitem" tabindex="-1" id="message-sessions" href='#'>
                    <i class="fa fa-share fa-lg fa-fw"></i>
                    Send Message to Sessions
                </a>
            </li>
        </ul>
    </div>

    <!-- This is a workaround to display dropdown menu. Looks like a bug: http://laravel.io/forum/02-22-2014-twitter-bootstrap-311-not-displaying-dropdown-items -->

    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    </script>

</script>

<script type="text/template" id="session-live-bar-template">
    <div>Your session is now live!</div>
    <a class="btn btn-success" target="_blank">Join Hangout!</a>
</script>
<script type="text/template" id="dialogs-template">
    <div id="create-session-modal" class="modal hide fade">
        <form>
            <div class="modal-header">
                <h3>CREATE SESSION</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label for="session_name">SESSION NAME</label>
                    <input type="text" name="session_name" value="" id="session_name">
                </div>
                <div class='control-group'>
                    <label for='join_cap'>LIMIT JOINING TO</label>
                    <span class='help-block join-cap-error hide'>
                       Please enter a number between 2 and 10.
                    </span>
                    <input type='number' min='2' max='10' step='1'
                           value='10' style='width: 40px' 
                           name='join_cap' id='join_cap' />
                     <span class='help-block'>Minimum 2, maximum 10</span>
                </div>
                <div class="control-group">
                    <div class='pull-left'>
                        <label>SESSION TYPE</label>
                        <label><input type="radio" name="session_type" value="simple" checked='checked'/> Simple</label>
                        <label><input type="radio" name="session_type" value="video" /> Youtube Video</label>
                        <label><input type="radio" name="session_type" value="webpage" /> Webpage</label>
                    </div>
                    <div class='pull-left' style='margin-left: 1em;'>
                        <div class='youtube-url hide control-group' style='margin-top: 1.5em;'>
                            <p class="yt-error hide">
                                Unrecognized youtube URL.  Please use the URL for a single video.
                            </p>
                            <label for="session_youtube_id">Youtube video URL</label>
                            <input type="text" name="youtube_id" value=""
                                   id="session_youtube_id"
                                   placeholder='https://youtube.com...'>
                            <span class='help-block'>Paste the URL or embed code for a youtube video.</span>
                        </div>
                        <div class='webpage-url control-group hide' style='margin-top: 3em;'>
                            <label for='session_webpage'>Webpage URL</label>
                            <input type='text' placeholder='https://example.com...' id='session_webpage'/>
                            <div class='url-error hide' style='display: none;'>
                                Sorry, but only secure pages (those starting with "https")
                                can be embedded in hangouts.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type='submit' class="btn btn-primary" id="create-session" value="Create Session" />
            </div>
        </form>
    </div>
    <div id="message-sessions-modal" class="modal hide fade">
        <div class="modal-header"><h3>Send Message to All Hangout Sessions</h3></div>
        <div class="modal-body">
            <p>Send a message to be displayed in every event session hangout.</p>
            <div class='fifty-fifty clearfix'>
                <div class='fifty'>
                    <label for='session_message'>Message</label>
                    <textarea id='session_message' rows=5 cols=30></textarea><br />
                    <a class='add-url-to-message' style='cursor: pointer;'>
                        Add URL to event page
                        <i class='fa fa-level-up'></i>
                    </a>
                </div>
                <div class='fifty'>
                    Message will show up as:<br />
                    <div class='faux-hangout-notice'>
                        <div class='message'></div>
                        <div class='close'>&times;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='modal-footer'>
            <a href='#' class='btn pull-left' data-dismiss='modal'>Cancel</a>
            <a href='#' class='btn btn-primary' id='send-session-message'>Send Message</a>
        </div>
    </div>
    <div class="modal hide fade started-modal">
        <div class="modal-header"><h3></h3></div>
        <div class="modal-body">
            <p>It is time to join your session!</p>
            <a class="btn btn-success join-chosen-session" target="_blank">JOIN HANGOUT</a>
        </div>
    </div>
    <div class="modal hide fade disconnected-modal" id="disconnected-modal">
        <div class="modal-header"><h3>Warning!</h3></div>
        <div class="modal-body">
            <p>An unexpected error has occured. You have been disconnected from the server. Please refresh the page to reconnect.</p>
            <a href="#" class="btn">Close</a>
        </div>
    </div>
    <div id="no-urls-warning" class="modal hide fade">
        <div class="modal-header"><h3>NO HANGOUT URLS AVAILABLE</h3></div>
        <div class="modal-body">
            <p>There are currently no hangout urls available on the server. Sessions started when there are no urls available will fall back to the callback method of hangout starting, which requires the first person to join a session to create the hangout. This is not desireable; we strongly recommend you farm some hangout urls by clicking "farm" below. For this process to work, your google acount must have "create video calls for events" set in your google calendar account settings.
        </div>
        <div class="modal-footer">
            <a class="btn btn-success" id="farm-urls" href="/hangout-farming" target="_blank">Farm</a>
            <a href="#" class="btn btn-primary" id="dismiss-farming-warning" data-dismiss='modal'>Dismiss</a>
        </div>
    </div>
</script>

<% include _video-templates.ejs %>

<%- requireScripts("/public/js/event-app.js") %>
<% include _analytics.ejs %>
<% include _preload-facilitator.ejs %>
<% include _footer.ejs %>
