<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Unhangout</title>
	<!-- <link rel="stylesheet" href="/public/css/bootstrap.css" type="text/css" media="screen"> -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.no-responsive.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	
	<link href="/public/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/public/css/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	    <link href="/public/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/public/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
	
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.0-rc4-bundled/backbone.marionette.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.paginator/0.8/backbone.paginator.min.js"></script>
		<script type="text/javascript" src="/public/js/app.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		// switch underscore templating to {{ }} so it doesn't conflict with ejs.
		_.templateSettings = {
		    interpolate : /\{\{=(.+?)\}\}/g,
			evaluate: /\{\{(.+?)\}\}/g
		};
	
		<% if(!_.isUndefined(user)) { %>
		var SOCK_KEY = '<%= user.getSockKey() %>';
		var USER_ID = '<%= user.id %>';
		var IS_ADMIN = <%= user.isAdmin() %>;

		// this is a little weak, but since we only want this for the first
		// event we'll leave it like this for now.
		var SINGLE_SESSION_RSVP = true;
		<% } %>

		<% if(!_.isUndefined(event)) { %>
		var EVENT_ATTRS = <%- JSON.stringify(event.toClientJSON()) %>;
		<% } %>
	</script>
	
		<script type="text/javascript" src="/public/js/models.js"></script>	
		<script type="text/javascript" src="/public/js/client-models.js"></script>	
		<script type="text/javascript" src="/public/js/views.js"></script>	

		<!-- Templates for the backbone views go here. Sort of annoying to have to have them in this view,
		     but that seems to be how we can make this work with express and no content_for equivalent. -->

			<script type="text/template" id="session-template">
			<h3>{{= title }}<span class="started label label-success">live</span><span class="joined label label-info">your pick</span></h3>
			<div class="description">{{= description }} </div>
			<div class="empty">no one signed up yet</div>
			<div class="attending"><div class="first"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="full">FULL</div></div>
			<div class="attend btn btn-info" data-toggle="button"><span class="outer"><span class="text">JOIN</span><span class="attend-count"></span></span><div class="attendance"></div></div>
			
			<div class="admin">
			<div class="start btn btn-warning">START</div>
			</div>
			</script>
			
			<script type="text/template" id="session-list-template">
				<ul id="session-list-container" class="full-size-container"></ul>
			</script>

			<script type="text/template" id="pagination-template">
			<div class="footer">
			<div id="prev">prev</div>
			{{ _.each(info().pageSet, function(page) { }}
				{{ if(page==currentPage) { }}
					<div class="active page">{{= page }}</div>
				{{ } else { }}
					<div class="page">{{= page }}</div>
				{{ } }}
			{{ }) }}
			<div id="next">next</div>
			</div>
			</script>
			
			<script type="text/template" id="user-template">
				{{ if(picture=="") { }}
				<i class="icon-user icon-3x"></i>
				{{ } else { }}
				<a href="{{=link}}" target="_new"><img src="{{=picture}}"></a>
				{{ } }}
			</script>
			
			<script type="text/template" id="user-list-template">
			<ul id="user-list-container"></ul>
			</script>
			
			<script type="text/template" id="chat-message-template">
			<span class="from">{{=user.shortDisplayName}}</span>{{=text}}
			</script>
			
			<script type="text/template" id="chat-layout">
			<div id="chat-container-region" class="span5"></div>
			<div id="presence-gutter"></div>
			<div id="chat-input-region"></div>
			</script>

			<script type="text/template" id="chat-input-template">
			<form><input type="text" id="chat-input" autocomplete="off"></input></form>
			</script>

			<script type="text/template" id="chat-template">
			<ul id="chat-list-container"></ul>
			</script>
			
			<script type="text/template" id="user-column-layout-template">
			<div id="user-list"></div>
			<div id="footer"></div>
			</script>			
			
			<script type="text/template" id="video-embed-template">
			<div id="player" class="player"></div>
			</script>

			<script type="text/template" id="admin-button-template">
				<div class="dropdown">
					<a class="dropdown-toggle admin-button" data-toggle="dropdown" href="#">Admin</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li role="presentation">
							<a role="menuitem" href="#embed-modal" role="button" data-toggle="modal" id="show-embed-modal">embed</a>
							<a role="menuitem" tabindex="-1" id="start-all">start all sessions</a>
						</li>
					</ul>
				</div>

			</script>

			<script type="text/template" id="dialogs-template">
				<div id="embed-modal" class="modal hide fade">
					<div class="modal-header">
						<h3>SET EMBED ID</h3>
					</div>
					<div class="modal-body">
						<label for="youtube_id">Youtube Id</label><input type="text" name="youtube_id" value="" id="youtube_id">
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" id="set-embed">Set Embed</a>
					</div>
				</div>
				<div class="modal hide fade started-modal">
					<div class="modal-header">
					<h3></h3>
					</div>
					<div class="modal-body">
						<p>It is time to join your session!</p>
						<a class="btn btn-success join-chosen-session" target="_blank">JOIN HANGOUT</a>
					</div>
				</div>	
				<div class="modal hide fade disconnected-modal" id="disconnected-modal">
					<div class="modal-header">
					<h3>Warning!</h3>
					</div>
					<div class="modal-body">
						<p>An unexpected error has occured. You have been disconnected from the server. Please refresh the page to reconnect.</p>
						<a href="#" class="btn">Close</a>
					</div>
				</div>
			</script>
		</head>
<body>
	<% if(user.isAdmin()) {%>
		<div class="admin-header">
		</div>
	<% } %>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/#">Unhangout</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="" id="video-nav"  rel="tooltip" data-placement="bottom" data-toggle="tooltip" title="Update your session selection here!" data-trigger="manual"><a href="#video-nav">Video <span class="label label-success hide">live</span></a></li>
					</ul>
					<div class="nav pull-right identity">
					<% if(!user) {%>
					<a class="btn btn-primary pull-left" href="/auth/google">Login</a>
					<% } else { %>
						<div class="dropdown">
							<a class="dropdown-toggle username" data-toggle="dropdown" href="#"><%= user.get("displayName")%></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="/logout">Logout</a>
								</li>
							</ul>
						</div>
					<% } %>
					<div id="admin-region"></div>
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
<div id="app">

	<div class="row">
	<div id="global"></div>
	<div id="dialogs"></div>
	</div>
	
	<!-- Not totally sure why this row needs to be fluid for a 9+3 to fit, but it seems to. -->
	<div class="row" id="main">
	<div id="top-left" class="span6">
	</div>
	<div id="main-left" class="span6">
	</div>
	
	<div id="main-right" class="span6">
	</div>
	</div>
</div>
<% include footer.ejs %>