<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Unhangout</title>
	<!-- <link rel="stylesheet" href="/public/css/bootstrap.css" type="text/css" media="screen"> -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.no-responsive.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	
	<link href="/public/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/public/css/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	    <link href="/public/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->

	<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-42792478-1', 'mit.edu');
  	ga('send', 'pageview');

	</script>
	
	<script type="text/javascript" src="//code.jquery.com/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/public/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	<script src="//d1fxtkz8shb9d2.cloudfront.net/sockjs-0.3.min.js"></script>
	
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.0-rc4-bundled/backbone.marionette.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.paginator/0.8/backbone.paginator.min.js"></script>
		<script type="text/javascript" src="/public/js/app.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		// switch underscore templating to {{ }} so it doesn't conflict with ejs.
		_.templateSettings = {
		    interpolate : /\{\{=(.+?)\}\}/g,
			evaluate: /\{\{(.+?)\}\}/g
		};

		// this is where we inject a snapshot of the relevant server state to bootstrap
		// the local models to get the client app started. These are all templated in via
		// the express templating pass.
		<% if(!_.isUndefined(user)) { %>
		var SOCK_KEY = '<%= user.getSockKey() %>';
		var USER_ID = '<%= user.id %>';
		var IS_ADMIN = <%= user.isAdmin() %>;

		<% if(user.isAdmin()) { %>
		var NUM_HANGOUTS_FARMED = <%= numFarmedHangouts %>;
		<% } %>

		// this is a little weak, but since we only want this for the first
		// event we'll leave it like this for now.
		var SINGLE_SESSION_RSVP = true;
		<% } %>

		<% if(!_.isUndefined(event)) { %>
		var EVENT_ATTRS = <%- JSON.stringify(event.toClientJSON()) %>;
		<% } %>
	</script>
	
		<script type="text/javascript" src="/public/js/models.js"></script>	
		<script type="text/javascript" src="/public/js/client-models.js"></script>	
		<script type="text/javascript" src="/public/js/views.js"></script>	

		<!-- Templates for the backbone views go here. Sort of annoying to have to have them in this view,
		     but that seems to be how we can make this work with express and no content_for equivalent. -->

		    <script type="text/template" id="about-event-template">
		    <h1>{{=title}}</h1>
		    <h4>hosted by {{=organizer}}</h4>

		    {{= description}}

		    <div class="footer">This event has not yet started, so the rest of the page is disabled. Come back at the posted start time to participate!</div>
		    </script>

			<script type="text/template" id="session-template">
			<h3>{{= title }}</h3>
			<div class="description">{{= description }} </div>
			<div class="empty">no one signed up yet</div>
			<div class="attending"><div class="first"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="counter"></div><div class="full">FULL</div></div>
			<div class="attend btn btn-info" data-toggle="button"><span class="outer"><span class="text">SIGN UP</span><span class="attend-count hide"></span></span><div class="attendance"></div></div>
			
			<div class="admin-buttons">
			<div class="delete btn btn-warning"><i class="icon-trash"></i></div>
			</div>
			<div class="hangout-users">
			</div>
			<div class="hangout-offline">
			No one has joined this session yet.
			</div>
			</script>
			
			<script type="text/template" id="session-list-template">
				<ul id="session-list-container" class="full-size-container"></ul>
			</script>

			<script type="text/template" id="pagination-template">
			<div class="footer">
			<div id="prev">prev</div>
			{{ _.each(info().pageSet, function(page) { }}
				{{ if(page==currentPage) { }}
					<div class="active page">{{= page }}</div>
				{{ } else { }}
					<div class="page">{{= page }}</div>
				{{ } }}
			{{ }) }}
			<div id="next">next</div>
			</div>
			</script>
			
			<script type="text/template" id="user-template">
				{{ if(picture=="") { }}
				<i class="icon-user icon-3x"></i>
				{{ } else { }}
				<a href="{{=link}}" target="_new"><img src="{{=picture}}"></a>
				{{ } }}
			</script>
			
			<script type="text/template" id="user-list-template">
			<div class="header"><span class="contents">{{=numUsers}}</span><i class="icon-user"></i></div>
			<div id="user-list-scroll-container">
			<ul id="user-list-container"></ul>
			</div>
			</script>
			
			<script type="text/template" id="chat-message-template">
			<span class="from">{{=user.shortDisplayName}}</span>{{=text}}
			</script>
			
			<script type="text/template" id="chat-layout">
			<div id="chat-container-region" class="span5"></div>
			<div id="presence-gutter"></div>
			<div id="chat-input-region"></div>
			</script>

			<script type="text/template" id="chat-input-template">
			<form><input type="text" id="chat-input" autocomplete="off"></input></form>
			</script>

			<script type="text/template" id="chat-template">
			<ul id="chat-list-container"></ul>
			</script>
			
			<script type="text/template" id="user-column-layout-template">
			<div id="user-list"></div>
			<div id="footer"></div>
			</script>			
			
			<script type="text/template" id="video-embed-template">
			<div id="player" class="player"></div>
			</script>

			<script type="text/template" id="admin-button-template">
				<div class="dropdown">
					<a class="dropdown-toggle admin-button" data-toggle="dropdown" href="#">Admin</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li role="presentation">
							<a role="menuitem" href="#create-session-modal" role="button" data-toggle="modal" id="show-create-session-modal">create session</a>
							<a role="menuitem" href="/admin/event/" role="button" id="admin-page-for-event">edit event settings</a>
							<a role="menuitem" href="#embed-modal" role="button" data-toggle="modal" id="show-embed-modal">video embed</a>
							<a role="menuitem" tabindex="-1" id="open-sessions">open sessions</a>
							<a role="menuitem" tabindex="-1" id="close-sessions">close sessions</a>
							<a role="menuitem" tabindex="-1" id="farm" href="/hangout-farming" target="_new">farm hangout urls <span id="farmed-hangouts">{{=numFarmedHangouts}}</span> available</a>
						</li>
					</ul>
				</div>
			</script>

			<script type="text/template" id="session-live-bar-template">
			<div>Your session is now live!</div><a class="btn btn-success" target="_blank">Join Hangout!</a>
			</script>

			<script type="text/template" id="dialogs-template">
				<div id="create-session-modal" class="modal hide fade">
					<div class="modal-header">
						<h3>CREATE SESSION</h3>
					</div>
					<div class="modal-body">
						<div class="control-group">
							<label for="session_name">SESSION NAME</label><input type="text" name="session_name" value="" id="session_name">
							<label for="session_desc">SESSION DESCRIPTION</label><input type="text" name="session_desc" value="" id="session_desc">
						</div>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" id="create-session">Create Session</a>
					</div>
				</div>
				<div id="embed-modal" class="modal hide fade">
					<div class="modal-header">
						<h3>SET EMBED ID</h3>
					</div>
					<div class="modal-body">
						<p class="text-warning hide">Invalid youtube ID, should be 11 characters long</p>
						<div class="control-group">
							<label for="youtube_id">Youtube Id (11 character id, after '?v=')</label><input type="text" name="youtube_id" value="" id="youtube_id">
						</div>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-warning" id="remove-embed">Remove Video</a>
						<a href="#" class="btn btn-primary" id="set-embed">Set Video</a>
					</div>
				</div>
				<div class="modal hide fade started-modal">
					<div class="modal-header">
					<h3></h3>
					</div>
					<div class="modal-body">
						<p>It is time to join your session!</p>
						<a class="btn btn-success join-chosen-session" target="_blank">JOIN HANGOUT</a>
					</div>
				</div>	
				<div class="modal hide fade disconnected-modal" id="disconnected-modal">
					<div class="modal-header">
					<h3>Warning!</h3>
					</div>
					<div class="modal-body">
						<p>An unexpected error has occured. You have been disconnected from the server. Please refresh the page to reconnect.</p>
						<a href="#" class="btn">Close</a>
					</div>
				</div>
				<div id="no-urls-warning" class="modal hide fade">
					<div class="modal-header">
						<h3>NO HANGOUT URLS AVAILABLE</h3>
					</div>
					<div class="modal-body">
						<p>There are currently no hangout urls available on the server. Sessions started when there are no urls available will fall back to the callback method of hangout starting, which requires the first person to join a session to create the hangout. This is not desireable; we strongly recommend you farm some hangout urls by clicking "farm" below. For this process to work, your google acount must have "create video calls for events" set in your google calendar account settings.
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" id="farm-urls" href="/hangout-farming" target="_blank">Farm</a>
						<a href="#" class="btn btn-primary" id="dismiss-farming-warning" data-dismiss='modal'>Dismiss</a>
					</div>
				</div>

			</script>
		</head>
<body>
	<% if(user.isAdmin()) {%>
		<div class="admin-header">
		</div>
	<% } %>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/#">Unhangout</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="" id="video-nav"><a href="#video-nav">Video <span class="label label-success hide">live</span></a></li>
						<li class="" id="about-nav">
						<a href="#about-nav">About<span class="updated circle hide">&nbsp;</span></a>
						</li> 
					</ul>
					<div class="nav pull-right identity">
					<% if(!user) {%>
					<a class="btn btn-primary pull-left" href="/auth/google">Login</a>
					<% } else { %>
						<div class="dropdown">
							<a class="dropdown-toggle username" data-toggle="dropdown" href="#"><%= user.get("displayName")%></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="/logout">Logout</a>
								</li>
							</ul>
						</div>
					<% } %>
					<div id="admin-region"></div>
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
<div id="app">

	<div class="row">
	<div id="global"></div>
	<div id="dialogs"></div>
	</div>
	
	<div class="row" id="main">
	<div id="bar"></div>
	<div id="top"></div>

	<div id="top-left" class="span6 hide">
	</div>
	<div id="main-left" class="span6">
	</div>
	
	<div id="main-right" class="span6">
	</div>
	</div>
</div>

<% include footer.ejs %>