<% include _header.ejs %>
<% include _event-navbar.ejs %>

<script type='text/javascript'>
    // Rewrite login links to use event-specific login URL.
    var loginLinks = document.querySelectorAll("[href='/auth/google']");
    for (var i = 0; i < loginLinks.length; i++) {
        loginLinks[i].href = "<%= event.getEventUrl() + "/auth/" %>";
    }
</script>
    
<div class="container event-static">
    <div class="col-lg-8 event-info-box">
        
        <div class="col-lg-12 event-info-box">
           
            <h2 class="title"><%= title %></h2>
            <h3 class="host">hosted by <%- event.get("organizer") %></h3>
            <br/>

            <h4 class="dateAndTime">
            <% if (event.get("dateAndTime")) { %>
                <%= event.formatDate() %>
            <% } %>
            </h4>

            <br/> 

            <p class="description"><%- event.get("description") %></p>
            <div style='clear: both;'></div>

            <div class="col-lg-12 col-md-12 social-media-icons">
                <div class="col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 col-xs-12">
                    <!-- Twitter Share a Link Button -->
                    <div class="twitter-button col-lg-3 col-md-2 col-sm-2 col-xs-3">
                      <a href="https://twitter.com/share" class="twitter-share-button" id="tweetLink">Tweet</a>

                      <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>

                    </div>

                    <!-- GPlus Share Button -->
                   
                    <!-- Place this tag in your head or just before your close body tag. -->
                    <script src="https://apis.google.com/js/platform.js" async defer></script>

                    <div class="g-plus col-lg-3 col-md-2 col-sm-2 col-xs-2" data-action="share" data-annotation="none"></div>

                    <!-- Facebook Share a Link Button -->
                    <div class="fb-button col-lg-5 col-md-4 col-sm-5 col-xs-5">
                      <div id="fb-root"></div>
                        <div id="fb-like" class="fb-like" data-href="http://unhangout.media.mit.edu/event/test"  data-layout="button_count" data-show-faces="false" data-share="true"></div>
                    </div>

                    <script>(function(d, s, id) {
                        var dataTitle = "<%= title %>";
                        var dataURL = "http://unhangout.media.mit.edu" + "<%= event.getEventUrl() %>";

                        document.getElementById("fb-like").setAttribute("data-title",dataTitle);

                        document.getElementById("fb-like").setAttribute("data-text",dataURL);

                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=832301356794452&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                </div>
          </div>  

        </div>

        <div class="col-lg-11 col-md-12 line-break"></div>

        <div class="col-lg-12 guidelines">
            <h4 class="ready-for-event-title">To get ready for the event: </h4>
            <p class="ready-for-event-desc">
                <li>Click Login (top-right corner) if you're not already on. It will prompt you for a Google account.</li>
                <li>Install Google Hangout plugin if you don't have it already (click here to download and install)</li>
                <li>Watch this How to Unhangout video to get a sense about the event</li>
            </p>

            <br/>

            <button class="btn btn-primary col-lg-6 col-md-8 col-sm-8 col-xs-12 tips-and-tricks"><i class="fa fa-lightbulb-o"></i>Tips and tricks to participate in discussion</button>
            
            <!--<h4>To participate in the Unhangout discussion, we recommend you: </h4>
            <p>
            <li>Find a quiet place to participate in the discussion</li>
            <li>Arrange a headset, if possible </li>
            <li> In the breakout group, mute your microphone when you are not talking - it makes it easier for everyone to hear </li>
            <li>If using a laptop, have a charger, as Unhangouts can drain computer batteries</li>
            </p>-->
        </div>
    </div>

    <div class="col-lg-4 event-updates">
        <% if (event.get("open")) { %>
            <div class="alert alert-success alert-dismissible col-lg-12 col-md-8 col-sm-8 col-xs-12" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              This event is now live! Login above to participate.
            </div>

        <% } else { %>
            <div class="alert alert-warning alert-dismissible col-lg-12 col-md-8 col-sm-8 col-xs-12" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              This event has not yet started, come back at the posted start time and login to participate!
            </div>
        <% } %>
     
        <div class="col-lg-12 twitter-box">
            <a class="twitter-timeline" height="505" href="https://twitter.com/search?q=unhangout+" data-widget-id="506910601990270976">Tweets about "unhangout "</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div> 
</div>

<div class='col-lg-12 footer event-static-footer'>
    <div class="container">
        Powered by <a href="http://unhangout.media.mit.edu" target="_blank"><img src="/public/img/unhangout-logo-blue-full.png"></a> from <a href="http://media.mit.edu" target="_blank">MIT Media Lab</a>
    </div>
</div>

<%- requireScripts("/public/js/index.js") %>
<% include _footer.ejs %>
