<% include _header.ejs %>
<% include _event-navbar.ejs %>

<script>
    // Initial data
    var IS_ADMIN = <%= event && user.isAdminOf(event) %>;
    var IS_ADMIN_SESSIONS_ONLY = <%= event.get("adminProposedSessions") %>;

    <% if(!_.isUndefined(event)) { %>
        var EVENT_ATTRS = <%- JSON.stringify(event.toClientJSON()) %>;
        var SESSION_ATTRS = <%- JSON.stringify(event.get("sessions").invoke("toClientJSON")) %>;
        var HOA_ATTRS = <%- event.get("hoa") && user.isAdminOf(event) ? JSON.stringify(event.get("hoa").toClientJSON()) : "null" %>;
        var CONNECTED_USERS = <%- JSON.stringify(event.get("connectedUsers").invoke("toClientJSON")) %>
        var RECENT_MESSAGES = <%- JSON.stringify(event.get("recentMessages")) %>;
    <% } %>

</script>

<div class="container event-page-container">
    <div id="app">
        <div class="row">
            <div id="global"></div>
            <div id="dialogs"></div>
        </div> 

        <div class="row" id="main">

            <div id="top"></div> 

            <div class="col-lg-5 col-xs-5 event-column-left">
                <div id="top-left"></div>
                <div id="center-left"></div>
                <div id="main-left"></div> 
            </div>

            <div class="col-lg-7 col-xs-5 event-column-right">
                <div id="main-right"></div>
            </div> 

        </div> 
    </div>

</div> 

<!-- event templates -->
<script type="text/template" id="about-event-template">
    
    <div class="container about-event-container">
        <h2>{{- title }}</h2>
        {{ if (organizer) { }}
            <h3>hosted by {{= organizer }}</h4>
        {{ } }}
        <br/>
        <h4>
        {{ if (formattedDate) { }}
            {{- formattedDate }}
        {{ } }}
        </h4>

        <br/><br/>

        <p>{{= description }}</p>

    </div>
</script>

<script type="text/template" id="session-template">
    <div class="col-lg-12 col-xs-12 session-area">

        <div class="col-lg-8 col-xs-8 session-padding">
                    <h3>{{- title }}</h3>
        </div>

        <div class="col-lg-3 col-xs-3 session-padding">
            <div class="col-lg-12 col-xs-12 session-padding">
                

                <div class="col-lg-3 col-xs-3 session-padding">
                    <img src="<%= user.get("picture")%>">
                </div>

                <div class="col-lg-9 col-xs-9 session-padding proposee-display-name">
                    <h3><font color="#2e7daa"> Srishti Sethi </font></h3>
                </div>
            </div>

            <div class="col-lg-12 col-xs-12 session-padding btn-admin-join-session">
                <button class="attend btn btn-primary">
                    <i class="lock fa fa-lock"></i><span class="text"> LOCKED</span>
                </button>
            </div>
        </div>

        <div class="col-lg-1 col-xs-1 session-padding left-padding">
            <div class="col-lg-12 col-xs-12 session-padding bottom-padding">
                <button class="unapprove btn btn-warning btn-admin-unapprove-session" data-toggle="tooltip" data-placement="right" data-container="body" title="Unapprove this topic" data-original-title="Unpprove this topic"><i class="fa fa-history"></i></button>    
            </div>

            <div class="col-lg-12 col-xs-12 session-padding">
                <button class="delete btn btn-danger btn-admin-delete-session" data-toggle="tooltip" data-placement="right" data-container="body" title="Delete this topic" data-original-title="Delete this topic"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    
    </div>

    
    <div class="col-lg-12 col-xs-12 session-spots">
        <ul class="hangout-users"></ul>
    </div>

</script>

<script type="text/template" id="topic-template">
    <div class="col-lg-12 col-xs-12 session-area">

        <div class="col-lg-8 col-xs-8 topic-padding">
            <h3>{{- title }} </h3>
        </div>

        <div class="col-lg-3 col-xs-3 topic-padding">
            <div class="col-lg-12 col-xs-12 topic-padding bottom-padding">
                
                <div class="col-lg-3 col-xs-3 topic-padding">
                    <img src="<%= user.get("picture")%>"> 
                </div>

                 <div class="col-lg-9 col-xs-9 topic-padding proposee-display-name">
                    <h3><font color="#2e7daa"> {{- proposeeDisplayName }}  </font> </h3>
                </div>       
            </div>

            <div class="col-lg-12 col-xs-12 topic-padding vote-session">
                <button class="btn btn-primary btn-vote col-lg-offset-6" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Vote this for this topic" data-original-title="Vote for this topic">
                    <i class="fa fa-thumbs-up fa-2"></i> 4 
                    </button>
            </div>
        </div>

        <div class="col-lg-1 col-xs-1 topic-padding left-padding">
            <div class="col-lg-12 col-xs-12 topic-padding bottom-padding">
                <button class="approve btn btn-success btn-admin-approve-session" data-toggle="tooltip" data-placement="right" data-container="body" title="Approve this topic" data-original-title="Approve this topic"><i class="fa fa-check" ></i></button>    
            </div>

            <div class="col-lg-12 col-xs-12 topic-padding">
                <button class="delete btn btn-danger btn-admin-delete-session" data-toggle="tooltip" data-placement="right" data-container="body" title="Delete this topic" data-original-title="Delete this topic"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>


    </div>
</script>


<script type="text/template" id="session-list-empty-template">
    <div id="session-list-container" class="full-size-container">
        <!-- This should only appear if the mode is admin proposing session mode --> 
        <div class="empty-notice">Sessions will appear here when they are created by an admin.</div>
        
        <div class="credits">
            Powered by <a href="http://unhangout.media.mit.edu" target="_blank"><img src="/public/img/unhangout-logo-blue-full.png"></a> from <a href="http://media.mit.edu" target="_blank">MIT Media Lab</a>
        </div>
    </div>
    <div style='clear: both;'></div>
</script>

<script type="text/template" id="topic-list-empty-template">
    <div id="topic-list-container" class="full-size-container">
        <!-- This should only appear if the mode is admin proposing session mode --> 
        <div class="empty-notice">Topics will appear here when they are created by an admin.</div>
        
        <div class="credits">
            Powered by <a href="http://unhangout.media.mit.edu" target="_blank"><img src="/public/img/unhangout-logo-blue-full.png"></a> from <a href="http://media.mit.edu" target="_blank">MIT Media Lab</a>
        </div>
    </div>
    <div style='clear: both;'></div>
</script>

<script type="text/template" id="session-participant-proposed-template">
    <div id="propose-session" class="col-lg-12 propose-session">
        <a href="#propose-session-modal" data-toggle="modal"> 
            <button class="btn btn-primary" id="btn-propose-session">
                <i class="fa fa-plus"></i>
                Propose a Session
            </button>
        </a>
    </div>
    <div style='clear: both;'></div>
</script>

<script type="text/template" id="pagination-template">
    <div class="footer">
        <div id="prev">prev</div>
            {{ _.each(info().pageSet, function(page) { }}
                {{ if(page==currentPage) { }}
                    <div class="active page">{{- page }}</div>
                {{ } else { }}
                    <div class="page">{{- page }}</div>
                {{ } }}
            {{ }) }}
            <div id="next">next</div>
        </div>
    </div>
</script>

<script type="text/template" id="user-template">
    {{ if(!picture) { }}
        <i class="fa fa-user"></i>
    {{ } else if (link) { }}
        <a href="{{- link }}" target="_new"><img src="{{- picture}}" alt='profile'></a>
    {{ } else { }}
        <img src="{{- picture}}" alt='profile'>
    {{ } }}
</script>

<script type="text/template" id="user-list-template">
    <div class="header">
        <span class="contents">{{- numUsers}}</span><i class="fa fa-user"></i>
    </div>
    <div id="user-list-scroll-container">
        <ul id="user-list-container"></ul>
    </div>
</script>

<script type="text/template" id="chat-message-template">
    <span class="from">{{- user.shortDisplayName}}</span>{{= text}}
</script>
<script type="text/template" id="chat-atname-template">
    {{ if (isMe) { }}
        <b class='atname me'
           data-toggle='popover'
           data-placement='top'
           data-trigger='hover'
           data-container='body'
           title='{{- displayName }}'
           data-content="That's you!">$1</b>
    {{ } else { }}
        <b class='atname'
           data-toggle='popover'
           data-placement='top'
           data-trigger='hover'
           data-container='body'
           title='{{- user.get("displayName") }}'
           data-content="&lt;img src=&quot;{{- user.get("picture") }}&quot; style=&quot;max-width: 128px; max-height: 128px;&quot; /&gt;">$1</b>
    {{ } }}
</script>

<script type="text/template" id="chat-layout">
     <div id="chat-container-region" class="col-lg-10 col-xs-10">
        <div class="panel">
            <div class="panel-heading">
                <div id='chat-whiteboard'></div>
            </div>
            <div class="panel-body">
                <div id='chat-messages'></div>
            </div>
            <div class="panel-footer">
                <div id="chat-input-region"></div>
            </div>
        </div>
    </div>
    
    <div id="presence-gutter" class="col-lg-2 col-xs-2"></div>
</script>

<script type="text/template" id="chat-whiteboard-template">
    <div id="whiteboard-message"></div>

    {{ if(IS_ADMIN) { }}
        <div id="whiteboard-form">
            <textarea placeholder="whiteboard message here..." rows="1"></textarea>
            <button class='update-whiteboard btn btn-success'>
                <i class = "fa fa-check"></i>
            </button>
            <button class='cancel-whiteboard btn btn-danger'>
                <i class = "fa fa-times"></i>
            </button>
        </div>
        <div id="whiteboard-buttons">
            <button class='edit-whiteboard btn btn-primary'>
                <i class = "fa fa-pencil"></i>
            </button>
        </div>
    {{ } }}
    {{ if (chatArchiveUrl) { }}
        <div class='chat-archive-link'>
            <a href='{{= chatArchiveUrl }}' target='_blank'>Chat Archive</a>
        </div>
    {{ } }}
</script>

<script type="text/template" id="chat-input-template">
    <form>
        <input type="text" id="chat-input" class="form-control" autocomplete="off" placeholder='Type your message here'></input>
        {{ if (IS_ADMIN) { }}
            <label class='admin'
                   title='Check to highlight your message.'
                   data-role='tooltip'
                   data-placement='top'>
                <input type='checkbox' name='chat-as-admin'>
                Highlight
            </label>
        {{ } }}
    </form>
</script>

<script type="text/template" id="chat-template">
    <ul id="chat-list-container"></ul>
    <div class='over-capacity-warning'>
        <i class='fa fa-fire-extinguisher'></i>
        Oh no! The server is overloaded and couldn't send your message. Please
        try again soon.
    </div>
</script>

<script type="text/template" id="user-column-layout-template">
    <div id="user-list"></div>
    <div id="footer"></div>
</script>

<script type="text/template" id="video-embed-template">
    <div class='video-player'></div>
    <div class='video-controls row'></div>
</script>

<script type='text/template' id="video-embed-controls-template">
    {{ if (youtubeEmbed) { }}
        <div class="row video-play-trash-row">
            <div class='col-lg-7 col-xs-7 btn-play-pause'>
                <div class='current-video-controls'>
                    <button class='btn btn-success play-for-all'>
                        {{ if (isPlayingForEveryone) { }}
                            <i class='fa fa-pause'></i> Pause for All
                        {{ } else if (isAwaitingStart) { }}
                            <i class='fa fa-clock-o'></i> Awaiting Start
                        {{ } else { }}
                            <i class='fa fa-play'></i> Play for All
                        {{ } }}
                        <span class='button-time-indicator'></span>
                    </button> 
                </div>
            </div>

            <div class="col-lg-1 col-xs-1 btn-video-trash">
                <button class='btn btn-danger remove-video' title="Remove video embed">
                    <i class='fa fa-trash-o'></i>
                </button>
            </div>

        </div>
    {{ } }}

    <div class='row youtube-video-controls'>

        <div class="col-lg-7 col-xs-6 input-video-field">
            <input class="form-control" type="text" name="youtube_id" value="" placeholder="Paste Youtube URL Here" />

            {{ if (previousVideoEmbeds.length > 0) { }}
               
                    <button class='btn btn-default dropdown-toggle' data-toggle="dropdown">
                        <i class='fa fa-list'></i>
                        <i class='fa fa-caret-down'></i>
                    </button>

                    <ul class="dropdown-menu previous-videos" role="menu">
                        <li><a class='restore-previous-video header'>Previous videos</a></li>

                        {{ _.each(previousVideoEmbeds, function(vid) { }}

                            <li role="presentation">
                                <div class="col-lg-12 previous-video-item">
                                    <div class="col-lg-11 previous-video-details">
                                        <a role="menuitem" class='restore-previous-video'
                                        data-youtube-id='{{= vid.youtubeId }}'>{{= vid.youtubeId }}  
                                        </a>
                                    </div>

                                    <div class="col-lg-1 btn-del-previous-video">
                                        <button class='btn btn-danger remove-one-previous-video'
                                    data-youtube-id='{{= vid.youtubeId }}'><i class='fa fa-trash'></i></button>
                                    </div>
                                </div>
                                
                            </li>
                        {{ }); }}

                        <li><a class='clear-previous-videos'>
                            <i class='fa fa-trash-o'></i> Clear list
                        </a></li>
                    </ul>
               
            {{ } }}
        </div>

        <div class="col-lg-3 col-xs-4 btn-enqueue">
            <button class='btn btn-default enqueue-video'
            type="button">Add to List</button>
        </div>

        <div class="col-lg-2 col-xs-2 btn-video-embed">
            <button class='btn btn-default set-video'
            type="button">Embed</button>
        </div>

        <!--<p class="alert text-warning">Unrecognized youtube URL.  Please use the URL for a single video.</p>-->

        <div class="col-lg-12 col-xs-12 alert alert-warning alert-dismissible text-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Warning!</strong> Unrecognized youtube URL! Please try again.
        </div>

        <div class="col-lg-12 col-xs-12 OR-field">
            <p>OR</p>
        </div>
        
      
        {{ if (hoaParticipationLink) { }}
           
            <div class="col-lg-6 col-xs-6 btn-join-hoa">
                <a class="join-hoa" target='_blank'
                    href="{{= hoaParticipationLink }}">
                    <button class="btn btn-default hoa">
                        <i class="fa fa-users"></i> Join Hangout-on-Air
                    </button>
                </a>
            </div>

            <div class="col-lg-6 col-xs-6 btn-remove-hoa">
                <button class='btn btn-danger remove-hoa'>Remove Hangout-on-Air
                </button>
            </div>
            
        {{ } else { }}
            
            <div class="col-lg-12 col-xs-12 btn-hoa">
                <a class="btn btn-default create-hoa hoa" target="_blank"
                    href='/event/{{- id }}/create-hoa/'>
                <i class='fa fa-users'></i> Create Hangout-on-Air
                </a>
            </div>
        
        {{ } }}
      
    </div>
    
</script>

<script type='text/template' id="previous-video-details-template">
    <a tabindex='-1' href='#' class='restore-previous-video'
       title='{{= title }}'
       data-youtube-id='{{= id }}'>
        
        <div class="col-lg-2">
            <img src='{{= thumbnail.url }}' style='width: 64px; height: 48px' alt='thumbnail'>
        </div>

        <div class="col-lg-8">
            <p class='title'>{{= title }}</p>
        </div>

        <div class="col-lg-1">
            <p class='duration'>
                {{= parseInt(duration/60) }}:{{= (duration%60) < 10 ? "0" + (duration%60) : (duration%60) }}
            </p>
        </div>
    </a>
</script>

<script type="text/template" id="admin-button-template">
    <div class="dropdown">
        <a class="dropdown-toggle admin-button" data-toggle="dropdown"
           id='event-settings-label'>
            Event Settings <i class='fa fa-caret-down'></i>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="event-settings-label">
            <li role="presentation">
                {{ if (event.get("open")) { }}
                    <p role="menuitem">
                        This event is currently <font color="#5CB85C">OPEN</font>
                        <hr/>
                    </p>                    
                {{ } else { }}
                    <p role="menuitem">
                        This event is currently <font color="#D9524F">CLOSED</font>
                        <hr/>
                    </p> 
                {{ } }} 

                {{ if (event.get("open")) { }}
                    <a role="menuitem" href="#" role="buton" id='admin-stop-event'>
                        <i class='fa fa-stop fa-lg fa-fw'></i>
                        Stop event
                    </a>
                {{ } else { }}
                    <a role="menuitem" href="#" role="buton" id='admin-start-event'>
                        <i class='fa fa-play fa-lg fa-fw'></i>
                        Start event
                    </a>
                {{ } }}
                <a role="menuitem" href="#create-session-modal" data-toggle="modal" id="show-create-session-modal">
                    <i class="fa fa-plus-square fa-lg fa-fw"></i>&nbsp;Create Session
                </a>
                
                <a role="menuitem" href="/admin/event/" role="button" id="admin-page-for-event">
                    <i class="fa fa-pencil-square-o fa-lg fa-fw"></i>
                    Edit Event Info
                </a>
                {{ if (event.get("sessionsOpen")) { }}
                    <a role="menuitem" tabindex="-1" id="close-sessions" href='#'>
                        <i class="fa fa-lock fa-lg fa-fw"></i>
                        Close Sessions
                    </a>
                {{ } else { }}
                    <a role="menuitem" tabindex="-1" id="open-sessions" href='#'>
                        <i class="fa fa-unlock fa-lg fa-fw"></i>
                        Open Sessions
                    </a>
                {{ } }}
                <a role="menuitem" id="message-sessions" href='#' data-toggle="modal">
                    <i class="fa fa-share fa-lg fa-fw"></i>
                    Send Message to Sessions
                </a>

                {{ if (event.get("adminProposedSessions")) { }}
                    <a role="menuitem" href="#" role="button" id='admin-proposed-sessions-mode'>
                        <i class='fa fa-users fa-lg fa-fw'></i> Admin Proposed Sessions
                    </a>
                {{ } else { }}
                    <a role="menuitem" href="#" role="button" id='participant-proposed-sessions-mode'>
                        <i class='fa fa-user fa-lg fa-fw'></i> Participant Proposed Sessions 
                    </a>
                {{ } }}

            </li>
        </ul>
    </div>

    <script type="text/javascript"> 
        //Hide the youtube and webpage url form controls
        $(".youtube-url").hide();
        $(".webpage-url").hide();
        $(".join-cap-error").hide();
        $("[data-toggle='tooltip']").tooltip(); 

    </script>

</script>

<script type="text/template" id="session-live-bar-template">
    <div>Your session is now live!</div>
    <a class="btn btn-success" target="_blank">Join Hangout!</a>
</script>

<script type="text/template" id="dialogs-template">

    <!-- Create Session Modal Dialog -->
    <div id="create-session-modal" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="form-horizontal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Session</h4>
            </div>

          <div class="modal-body">
            
            <div class="form-group">
                <label class="col-lg-3 control-label" for="session_name">Session Name</label>

                <div class="col-lg-9">
                    <input class="form-control" type="text" name="session_name" value="" id="session_name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label" for='join_cap'>Participant Limit</label>

                <!--<span class='help-block join-cap-error hide'>
                   Please enter a number between 2 and 10.
                </span>-->


                <div class="col-lg-4">
                    <input class="form-control" type='number' min='2' max='10' step='1'
                       value='10' 
                       name='join_cap' id='join_cap' />
                    <span class='help-inline'>Minimum 2, maximum 10</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-10 alert alert-warning alert-dismissible join-cap-error" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  Warning! Please enter a number between 2 and 10.
                </div>
            </div>

             <div class="form-group">
                     
                <label class="col-lg-3 control-label">
                    Session Type
                </label>

                <div class="col-lg-9">
                    <label class="radio-inline">
                      <input type="radio" name="session_type" value="simple" checked="checked"/> Simple 
                    </label>

                    <label class="radio-inline">
                      <input type="radio" name="session_type" value="video" /> Youtube Video
                    </label>

                    <label class="radio-inline">
                      <input type="radio" name="session_type" value="webpage"  /> Webpage
                    </label>
                    
                    <div class='form-group youtube-url'>
                        <p class="yt-error hide">
                            Unrecognized youtube URL.  Please use the URL for a single video.
                        </p>

                        <label class="col-lg-4 control-label" for="session_youtube_id">Youtube URL</label>
                        
                        <div class="col-lg-8">

                            <input class="form-control" type="text" name="youtube_id" value=""
                                   id="session_youtube_id"
                                   placeholder='https://youtube.com'>

                            <span class='help-block'>Paste the URL or embed code for a youtube video.</span>

                        </div>
                    </div>

                    <div class='form-group webpage-url'>
                        <label class="col-lg-4 control-label" for='session_webpage'>Webpage URL</label>

                        <div class="col-lg-8">

                            <input class="form-control" type='text' placeholder='https://example.com' id='session_webpage'/>

                            <div class='url-error hide' style='display: none;'>
                                Sorry, but only secure pages (those starting with "https")
                                can be embedded in hangouts.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          </div> 

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            <button type="button" class="btn btn-primary" id="create-session" value="Create Session">Create Session</button>
          </div>

        </div>
      </div>
      </form>

    </div>

    <!-- Send messages to session dialog -->
    <div id="message-sessions-modal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send Message to All Hangout Sessions</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for='session_message' class="control-label col-lg-3">Message</label>

                        <div class="col-lg-9">
                            <textarea class="form-control" id='session_message' rows=5 cols=30></textarea>

                            <a class='add-url-to-message' style='cursor: pointer;'>
                                Add URL to event page
                                <i class='fa fa-level-up'></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-lg-3" for='session_message'>Message Preview</label>

                        <div class="col-lg-9">
                            <div class='faux-hangout-notice'>
                                <div class='message'></div>
                                <div class='close'>&times;</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='modal-footer'>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="send-session-message" value="Send Message">Send Message</button>

                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="modal hide fade started-modal">
        <div class="modal-header"><h3></h3></div>
        <div class="modal-body">
            <p>It is time to join your session!</p>
            <a class="btn btn-success join-chosen-session" target="_blank">JOIN HANGOUT</a>
        </div>
    </div>

    <div class="modal fade disconnected-modal" id="disconnected-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Warning!</h4>
                </div>

                <div class="modal-body">
                    <p>An unexpected error has occured. You have been disconnected from the server. Please refresh the page to reconnect.</p>
                </div>

                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal propose-session-modal" id="propose-session-modal" role="dialog" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Propose a Session</h4>
                </div>

                <div class="modal-body">
                    <div class="session-preview col-lg-12">

                        
                            
                            <div class="col-lg-12 proposed-session-box">
                                <div class="col-lg-8 col-xs-8 no-padding">

                                    <a style="color: black; border-bottom: dashed 1px black;" href="#" id="sessionTitle" data-type="textarea" data-pk="1" class="editable editable-pre-wrapped editable-click">Enter your session title here</a>
                                  
                                </div>

                                <div class="col-lg-4 col-xs-4 left-padding">
                                    <div class="col-lg-12 col-xs-12 no-padding">
                
                                        <div class="col-lg-3 col-xs-3 no-padding">
                                            <img src="<%= user.get("picture")%>"> 
                                        </div>

                                        <div class="col-lg-9 col-xs-9 no-padding">
                                            <a class="proposee-display-name" href="#" id="participantName" data-type="text" data-pk="1">
                                    
                                                <%= user.get("displayName")%>
                                            </a> 

                                    </div>       
                                

                                    <div class="col-lg-12 col-xs-12 no-padding">
                                        <button class="btn btn-primary btn-vote col-lg-offset-6" disabled=" ">
                                            <i class="fa fa-thumbs-up fa-2"></i> 4 
                                            </button>
                                    </div>

                                </div>

                                                 

                        </div>

                    </div>

                    <div class="col-lg-12 alert alert-danger alert-dismissible proposed-title-validate-error validate-error" role="alert">

                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Title should be less than 100 characters. 

                    </div>

                </div>


                <div class="modal-footer"></div>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary" class="propose" id="propose" data-dismiss="modal">Propose</button>
            </div>

        </div>
    </div>

    <div id="no-urls-warning" class="modal hide fade">
        <div class="modal-header"><h3>NO HANGOUT URLS AVAILABLE</h3></div>
        <div class="modal-body">
            <p>There are currently no hangout urls available on the server. Sessions started when there are no urls available will fall back to the callback method of hangout starting, which requires the first person to join a session to create the hangout. This is not desireable; we strongly recommend you farm some hangout urls by clicking "farm" below. For this process to work, your google acount must have "create video calls for events" set in your google calendar account settings.
        </div>
        <div class="modal-footer">
            <a class="btn btn-success" id="farm-urls" href="/hangout-farming" target="_blank">Farm</a>
            <a href="#" class="btn btn-primary" id="dismiss-farming-warning" data-dismiss='modal'>Dismiss</a>
        </div>
    </div>

    
</script>

<% include _video-templates.ejs %>

<%- requireScripts("/public/js/event-app.js") %>
<% include _analytics.ejs %>
<% include _preload-facilitator.ejs %>
<% include _footer.ejs %>
