<% include _header.ejs %>
<% include _event-navbar.ejs %>

<script type='text/javascript'>
    // Rewrite login links to use event-specific login URL.
    var loginLinks = document.querySelectorAll("[href='/auth/google']");
    for (var i = 0; i < loginLinks.length; i++) {
        loginLinks[i].href = "<%= event.getEventUrl() + "/auth/" %>";
    }
</script>

    <div class='event-static'>
         <% if (event.get("dateAndTime")) { %>
            <div class="alert alert-block alert-info ">
            <a class="close" data-dismiss="alert" href="#"><i class="icon-remove-circle"></i></a>   

            This event has not yet started, come back at the posted start time to participate!

            </div>
       <% } %>

        <h3><%= title %></h3>
        <h4 style="color: #2E7DAA">hosted by <%- event.get("organizer") %></h4>
        <br/>
        <% if (event.get("dateAndTime")) { %>
            <%= event.formatDate() %>
        <% } %>

        <br/> <br/>
        <%- event.get("description") %>
        <div style='clear: both;'></div>
    </div>

<%- requireScripts("/public/js/index.js") %>
<% include _footer.ejs %>
