<% include _header.ejs %>
<% include _event-navbar.ejs %>

<script>
    // Initial data
    var IS_ADMIN = <%= event && user.isAdminOf(event) %>;
    var IS_SUPERUSER = <%= event && user.isSuperuser() %>;
    var USER = <%- JSON.stringify(user) %>;
    var NUM_HANGOUT_URLS_AVAILABLE = <%= numHangoutUrlsAvailable %>;
    var NUM_HANGOUT_URLS_WARNING = <%= numHangoutUrlsWarning %>;

    <% if(!_.isUndefined(event)) { %>
        var EVENT_ATTRS = <%- JSON.stringify(event.toClientJSON()) %>;
        var SESSION_ATTRS = <%- JSON.stringify(event.get("sessions").invoke("toClientJSON")) %>;
        var HOA_ATTRS = <%- event.get("hoa") && user.isAdminOf(event) ? JSON.stringify(event.get("hoa").toClientJSON()) : "null" %>;
        var CONNECTED_USERS = <%- JSON.stringify(event.get("connectedUsers").invoke("toClientJSON")) %>
        var RECENT_MESSAGES = <%- JSON.stringify(event.get("recentMessages")) %>;
    <% } %>

</script>

<div class="container event-page-container">
    <div id="app">
        <div class="row">
            <div id="global"></div>
            <div id="dialogs"></div>
        </div> 

        <div class="row" id="main">

            <div id="top"></div> 

            <div class="col-xs-5 event-column-left">
                <div id="top-left"></div>
                <div id="center-left"></div>
                <div id="main-left"></div> 
            </div>

            <div class="col-xs-7 event-column-right">
                <div id="main-right"></div>
            </div> 

        </div> 
    </div>

</div> 

<!-- event templates -->
<script type="text/template" id="about-event-template">
    
    <div class="container about-event-container">
        <h2>{{- title }}</h2>
        {{ if (organizer) { }}
            <h3>hosted by {{= organizer }}</h4>
        {{ } }}
        <br/>
        <h4>
        {{ if (formattedDate) { }}
            {{- formattedDate }}
        {{ } }}
        </h4>

        <br/><br/>

        <p>{{= description }}</p>

    </div>
</script>

<script type="text/template" id="session-template">
    {{ if(randomized) { }}
        <div class="col-xs-12 group-area">
            <div class="col-xs-12 group-title">
                <h3 class="session-title"> Group Members </h3>
            </div>
            <div class="col-xs-12 session-spots">
                <ul class="group-members"></ul>
            </div>
            <div class="col-xs-12 group-line">
                <hr/>
            </div>
        </div>
        
    {{ } }}

    <div class="col-xs-12 session-area">
        {{ if(IS_ADMIN) { }}   
            <div class="col-xs-8 session-padding">

                <div class="col-xs-12 session-padding session-title-container">
                    <div class="col-xs-1 session-padding">
                        <button class="btn btn-primary btn-edit-session"><i class="fa fa-pencil"></i></button>
                    </div>

                    <div class="col-xs-11 session-title-padding">
                        <h3 class="session-title">{{- title }} </h3> 
                    </div>
                </div>

                <div class="col-xs-12 session-padding">
                    <div class="col-xs-12 session-padding edit-session-title hide">
                        <div class="col-lg-11 col-xs-10 session-padding">
                            <input type="text" id="edit-title" class="form-control" placeholder='{{- title }}'></input>
                        </div>

                        <div class="col-lg-11 col-xs-10 session-padding edit-session-warning hide">
                            <p style="color: #D9524F" >Title should be less than 80 characters. </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 session-padding">
                    <div class="col-xs-12 session-spots">
                    <ul class="hangout-users"></ul>
                    </div>
                </div>
            </div>

        {{ } else { }}
            <div class="col-xs-9 session-padding session-title">
                <h3 class="user-session-title">{{- title }} </h3>

                <div class="col-xs-12 session-padding">
                    <div class="col-xs-12 session-spots">
                    <ul class="hangout-users"></ul>
                    </div>
                </div>

            </div>
        {{ } }} 

        <div class="col-xs-3 session-padding bottom-padding user-details-left-padding">

            <div id="user-details" class="col-xs-12 session-padding proposee-details">
                
                <div class="col-lg-3 col-xs-4 session-padding">
                    {{ if(proposedBy) { }}
                    <img src="{{- proposedBy.picture }}">
                    {{ } }}
                </div>

                <div class="col-lg-9 col-xs-8 session-padding proposee-display-name">
                    <h3>
                    {{ if(proposedBy) { }}
                    {{- proposedBy.displayName }}
                    {{ } }}
                    </h3>
                </div>

            </div>

            <div class="col-lg-12 session-padding btn-admin-join-session">
        
                <button class="attend btn btn-primary">
                    <i class="lock fa fa-lock fa-2"></i>&nbsp;<span class="text"> LOCKED</span>
                </button>

            </div>

        </div>

        {{ if(IS_ADMIN) { }}
            <div class="col-xs-1 session-padding left-padding">
                
                <div class="col-xs-12 session-padding btn-admin-unapprove-session">
                    <button class="unapprove btn btn-warning" data-toggle="tooltip" data-placement="right" data-container="body" title="" data-original-title="Unapprove this topic"><i class="fa fa-history"></i></button>  
                </div>      

                <div class="col-xs-1 session-padding">
                    <button class="delete btn btn-danger btn-admin-delete-session" data-toggle="tooltip" data-placement="right" data-container="body" title="" data-original-title="Delete this topic"><i class="fa fa-trash-o"></i></button>
                </div>

            </div>
        {{ } }}

    </div>      

</script>

<script type="text/template" id="topic-template">
    <div class="col-xs-12 session-area">

        {{ if(IS_ADMIN || (proposedBy && proposedBy.id == USER.id)) { }}

            <div class="col-xs-8 topic-padding topic-title-container">
                <div class="col-xs-1 topic-padding">
                    <button class="btn btn-primary btn-edit-topic"><i class="fa fa-pencil"></i></button>
                </div>

                <div class="col-xs-11 topic-title-padding">
                    <h3 class="topic-title">{{- title }} </h3> 
                </div>
            </div>

            <div class="col-xs-8 topic-padding edit-topic-title hide">
                <div class="col-lg-11 col-xs-10 topic-padding">
                    <input type="text" id="edit-topic" class="form-control" placeholder='{{- title }}'></input>
                </div>

                <div class="col-lg-11 col-xs-10 topic-padding edit-topic-warning hide">
                    <p style="color: #D9524F" >Title should be less than 80 characters. </p>
                </div>
            </div>

        {{ } else { }}
            <div class="col-xs-9 topic-padding">
                <h3>{{- title }} </h3>
            </div>
        {{ } }} 

        <div class="col-xs-3 topic-padding user-details-left-padding">
            <div id="user-details" class="col-xs-12 topic-padding">
                
                <div class="col-lg-3 col-xs-4 topic-padding">
                    {{ if(proposedBy) { }}
                    <img src="{{- proposedBy.picture }}">
                    {{ } }}
                </div>

                 <div class="col-lg-9 col-sm-8 topic-padding proposee-display-name">
                    <h3>
                    {{ if(proposedBy) { }}
                    {{- proposedBy.displayName }}
                    {{ } }}
                    </h3>
                </div>       
            </div>

            <div class="col-xs-12 topic-padding vote-session">
                <button class="btn btn-primary btn-vote" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Vote for this topic">
                    VOTE | {{- votes }} 
                    </button>
            </div>
        </div>

        {{ if(IS_ADMIN || (proposedBy && proposedBy.id == USER.id)) { }}
        
        <div class="col-xs-1 topic-padding left-padding">

            <div class="col-xs-12 topic-padding bottom-padding topic-left-padding">
                <button class="approve btn btn-success btn-admin-approve-session" data-toggle="tooltip" data-placement="right" data-container="body" title="" data-original-title="Approve this topic"><i class="fa fa-check" ></i></button>    
            </div>
            

            <div class="col-xs-12 topic-padding topic-left-padding">
                <button class="delete btn btn-danger btn-admin-delete-session" data-toggle="tooltip" data-placement="right" data-container="body" title="" data-original-title="Delete this topic"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>

        {{ } }}


    </div>
</script>

<script type="text/template" id="session-list-empty-template">
    <div id="session-list-container" class="full-size-container">
        <div class="empty-notice">Sessions will appear here when they are either created or approved by an admin.</div>
        
        <div class="credits">
            Powered by <a href="http://unhangout.media.mit.edu" target="_blank"><img src="/public/img/unhangout-logo-blue-full.png"></a> from <a href="http://media.mit.edu" target="_blank">MIT Media Lab</a>
        </div>
    </div>
    <div style='clear: both;'></div>
</script>

<script type="text/template" id="breakout-rooms-header-template">
    <div id="propose-session" class="col-xs-12 propose-session session-padding">
        <div class="col-lg-6 col-xs-5 session-padding">
            <h4>Breakout Rooms</h4>
        </div>

        <div class="col-lg-6 col-xs-7">
            <a href="#propose-session-modal" data-toggle="modal"> 
                <button class="btn btn-primary" id="btn-propose-session">
                <i class="fa fa-plus fa-lg fa-lw"></i>
                PROPOSE A SESSION
                </button>
            </a>   
        </div>

        <div class="col-lg-6 col-xs-7">
            <a href="#create-session-modal" data-toggle="modal"> 
                <button class="btn btn-primary" id="btn-create-session">
                <i class="fa fa-plus fa-lg fa-lw"></i>
                CREATE A SESSION
                </button>
            </a>   
        </div>

        <div class="col-lg-6 col-xs-7">
            <a href="#"> 
                <button class="btn btn-primary" id="btn-regroup-me">
                <i class="fa fa-random fa-lg fa-lw"></i>
                <span class="text">REGROUP ME</span>
                </button>
            </a>   
        </div>
    </div>
    <div style='clear: both;'></div>
</script>

<script type="text/template" id="dummy-session-template">
    <div class="col-xs-12 dummy-session">
        <div class="col-xs-12 group-area">
            <div class="col-xs-12 group-title">
                <h3> Group Members </h3>
            </div>
            <div class="col-xs-12 session-spots">
                <ul class="dummy-group-members">
                <% for(var i=0; i < event.get("sessionSize"); i++) { %>
                    <li class="empty"> </li>
                <% } %>
                </ul>
            </div>
            <div class="col-xs-12 group-line">
                <hr/>
            </div>  
        </div>
        <div class="col-xs-12 session-area">
            <div class="col-xs-9">
                <h3> Breakout Room </h3>
                <div class="col-xs-12 session-spots">
                    <ul class="dummy-hangout-users">
                    <% for(var i=0; i < event.get("sessionSize"); i++) { %>
                        <li class="empty"> </li>
                    <% } %>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3 join-session">
                <div class="col-lg-12 no-padding">
                    <button class="btn btn-primary btn-group-me">
                        <i class="lock fa fa-lock fa-2"></i>&nbsp;<span class="text"> LOCKED</span>
                    </button>
                </div>
            </div>
        </div> 
    </div>     
</script>

<script type="text/template" id="pagination-template">
    <div class="footer">
        <div id="prev">prev</div>
            {{ _.each(info().pageSet, function(page) { }}
                {{ if(page==currentPage) { }}
                    <div class="active page">{{- page }}</div>
                {{ } else { }}
                    <div class="page">{{- page }}</div>
                {{ } }}
            {{ }) }}
            <div id="next">next</div>
        </div>
    </div>
</script>

<script type="text/template" id="user-template">
    {{ if(!picture) { }}
        <i class="fa fa-user"></i>
    {{ } else if (link) { }}
        <a href="{{- link }}" target="_new"><img src="{{- picture}}" alt='profile'></a>
    {{ } else { }}
        <img src="{{- picture}}" alt='profile'>
    {{ } }}
</script>

<script type="text/template" id="user-list-template">
    <span>&nbsp; <i class="fa fa-envelope-o"></i> <a href="#my-contact-info-modal" data-toggle="modal" id="my-contact-info">My Contact</a></span> 
    <div class="header">
        <span class="contents">{{- numUsers}}</span><i class="fa fa-user"></i>
    </div>

    <div id="user-list-scroll-container">
        <ul id="user-list-container"></ul>
    </div>
</script>

<script type="text/template" id="network-list-template">
    <div class="header">
        <span class="contents"> <i class="fa fa-users"></i> My Network</span>
    </div>
    <div id="network-list-scroll-container">
        <ul id="network-list-container"></ul>
    </div>
</script>

<script type="text/template" id="chat-message-template">
    <span class="from">{{- user.shortDisplayName}}</span><span class='contents'></span>
</script>

<script type="text/template" id="chat-atname-template">
    <b class='atname {{- isMe ? "me" : "atname-network" }}'
       data-toggle='popover'
       title='{{- title }}'
       data-content="{{- popoverContent }}"
      >{{= linkText }}</b>
</script>

<script type="text/template" id='chat-atname-popover-title-template'>
    {{ if (isMe) { }}
        {{- mentioned.displayName }}
    {{ } else { }}
        <img src='{{- mentioned.picture }}' style='max-width: 128px; max-height: 128px;' />
        <p>{{- mentioned.displayName }}</p>
    {{ } }}
</script>

<script type='text/template' id='chat-atname-popover-content-template'>
    {{ if (isMe) { }}
        <p>That's you!</p>
    {{ } else { }}
        <p>
            <button class='col-lg-12 btn btn-network add-remove-network'
                    data-user-id='{{= mentioned.id }}'>
                {{= inNetwork ? "Remove from my network" : "Add to my network" }}
            </button>
        </p>
    {{ } }}
</script>

<script type="text/template" id="chat-layout">
     <div id="chat-container-region" class="col-xs-9">
        <div class="panel">
            <div class="panel-heading">
                <div id='chat-whiteboard'></div>
            </div>
            <div class="panel-body">
                <div id='chat-messages'></div>
            </div>
            <div class="panel-footer">
                <div id="chat-input-region"></div>
            </div>
        </div>
    </div>
    
    <div id="presence-gutter" class="col-xs-3">
        <div id="presence-network-gutter" class="col-xs-12 no-padding">Hello </div>
        <div id="presence-user-gutter" class="col-xs-12 no-padding">Hello</div>
    </div>

</script>

<script type="text/template" id="chat-whiteboard-template">
    <div id="whiteboard-message"></div>

    {{ if(IS_ADMIN) { }}
        <div id="whiteboard-form">
            <textarea placeholder="whiteboard message here..." rows="1"></textarea>
            <button class='update-whiteboard btn btn-success'>
                <i class = "fa fa-check"></i>
            </button>
            <button class='cancel-whiteboard btn btn-danger'>
                <i class = "fa fa-times"></i>
            </button>
        </div>
        <div id="whiteboard-buttons">
            <button class='edit-whiteboard btn btn-primary'>
                <i class = "fa fa-pencil"></i>
            </button>
        </div>
    {{ } }}
    {{ if (chatArchiveUrl) { }}
        <div class='chat-archive-link'>
            <a href='{{= chatArchiveUrl }}' target='_blank'>Chat Archive</a>
        </div>
    {{ } }}
</script>

<script type="text/template" id="chat-input-template">
    <form>
        <input type="text" id="chat-input" class="form-control" autocomplete="off" placeholder='Type your message here'></input>
        {{ if (IS_ADMIN) { }}
            <label class='admin'
                   title='Check to highlight your message.'
                   data-role='tooltip'
                   data-placement='top'>
                <input type='checkbox' name='chat-as-admin'>
                Highlight
            </label>
        {{ } }}
    </form>
</script>

<script type="text/template" id="chat-template">
    <ul id="chat-list-container"></ul>
    <div class='over-capacity-warning'>
        <i class='fa fa-fire-extinguisher'></i>
        Oh no! The server is overloaded and couldn't send your message. Please
        try again soon.
    </div>
</script>

<script type="text/template" id="user-column-layout-template">
    <div id="user-list"></div>
    <div id="footer"></div>
</script>

<script type="text/template" id="video-embed-template">
    <div class='iframe-player'></div>
    <div class='video-player'></div>
    <div class='video-controls row'></div>
</script>

<script type='text/template' id="video-embed-controls-template">
        <div class='row youtube-video-controls'>
            {{ if (youtubeEmbed || iframeEmbedCode.length > 0) { }}
            <div class="row video-play-trash-row">
                <div class='col-lg-7 col-xs-6 btn-play-pause'>
                    <div class='current-video-controls'>
                        <button class='btn btn-success play-for-all'>
                            {{ if (isPlayingForEveryone) { }}
                                <i class='fa fa-pause'></i> Pause for All
                            {{ } else if (isAwaitingStart) { }}
                                <i class='fa fa-clock-o'></i> Awaiting Start
                            {{ } else { }}
                                <i class='fa fa-play'></i> Play for All
                            {{ } }}
                            <span class='button-time-indicator'></span>
                        </button> 
                    </div>
                </div>

                <div class="col-lg-5 col-xs-6 btn-video-trash">
                    <button class='btn btn-danger remove-video'>
                        <i class='fa fa-remove'></i>
                        Remove Video
                    </button>
                </div>

            </div>
        {{ } }}

        <div class="col-lg-7 col-xs-6 input-video-field">
            <input class="form-control" type="text" name="youtube_id" value="" placeholder="YouTube URL" />

            {{ if (previousVideoEmbeds.length > 0) { }}
               
                    <button class='btn btn-default dropdown-toggle' data-toggle="dropdown">
                        <i class='fa fa-bars'></i>
                        <i class='fa fa-caret-down'></i>
                    </button>

                    <ul class="dropdown-menu previous-videos" role="menu">
                        <li>
                            <div class="row video-list">
                                <div class="col-lg-8 col-xs-6 list-div">
                                    <a class='restore-previous-video header'>Video List</a>
                                </div>

                                <div class="col-lg-4 col-xs-6 clear-list-btn-div">
                                    <button class='btn btn-danger clear-previous-videos'>
                                    <i class='fa fa-trash-o'></i> Remove All
                                    </button>
                                </div>
                            </div>
                        </li>

                        {{ _.each(previousVideoEmbeds, function(vid) { }}

                            <li role="presentation">
                                <div class="col-lg-12 col-xs-11 previous-video-item">
                                    <div class="col-lg-11 col-xs-10 previous-video-details">
                                        <a role="menuitem" class='restore-previous-video'
                                        data-youtube-id='{{= vid.youtubeId }}'>{{= vid.youtubeId }}  
                                        </a>
                                    </div>

                                    <div class="col-lg-1 col-xs-1 btn-del-previous-video">
                                        <button class='btn btn-danger remove-one-previous-video'
                                    data-youtube-id='{{= vid.youtubeId }}'><i class='fa fa-trash'></i></button>
                                    </div>
                                </div>
                                
                            </li>
                        {{ }); }}
                    </ul>
               
            {{ } }}
        </div>

        <div class="col-lg-3 col-xs-4 btn-enqueue">
            <button class='btn btn-default enqueue-video'
            type="button">Add to List</button>
        </div>

        <div class="col-xs-2 btn-video-embed">
            <button class='btn btn-default set-video'
            type="button">Embed</button>
        </div>
    </div>
    
    <div class="row create-join-hoa">
        {{ if (hoaParticipationLink) { }}
            <div class="col-lg-7 col-xs-6 btn-join-hoa">
                <a class="join-hoa" target='_blank'
                    href="{{= hoaParticipationLink }}">
                    <button class="btn btn-default hoa">
                        <i class="fa fa-users"></i> Join Hangout-on-Air
                    </button>
                </a>
            </div>
        {{ } else { }}
            <div class="col-lg-7 col-xs-6 btn-hoa">
                <a class="btn btn-default create-hoa hoa" target="_blank"
                    href='/event/{{- id }}/create-hoa/'>
                <i class='fa fa-users'></i> Create Hangout-on-Air
                </a>
            </div>
        {{ } }}

        {{ if (IS_SUPERUSER) { }}
        <div class="col-lg-5 col-xs-6 btn-embed-ls">
            <a target="_blank"
                    href="#embed-iframe-code-modal" data-toggle="modal">
                <button class="btn btn-default embed-ls">
                    <i class="fa fa-code"></i> Insert Iframe Code
                </button>
            </a>
        </div>
        {{ } }}

    </div>

    <div class="col-xs-12 alert alert-warning alert-dismissible text-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> Unrecognized youtube URL! Please try again.
    </div>
</script>

<script type='text/template' id="previous-video-details-template">
    <a tabindex='-1' href='#' class='restore-previous-video'
       data-youtube-id='{{= id }}'>
        
        <div class="col-lg-2 col-xs-3">
            <img src='{{= thumbnail.url }}'>
        </div>

        <div class="col-lg-8 col-xs-8">
            <p class='title'>{{= title }}</p>
        </div>
    </a>
</script>

<!--
        TODO: Add this back to the previous-video-details-template once YouTube
        v3 API call is implemented.
        <div class="col-lg-1">
            <p class='duration'>
                {{= parseInt(duration/60) }}:{{= (duration%60) < 10 ? "0" + (duration%60) : (duration%60) }}
            </p>
        </div>
-->

<script type="text/template" id="admin-button-template">
    <span class="status"></span>

    <div class="dropdown">
        <a class="dropdown-toggle admin-button" data-toggle="dropdown"
           id='event-settings-label'> 
            Event Settings <i class='fa fa-caret-down'></i>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="event-settings-label">
            <li role="presentation">
                {{ if (event.get("open")) { }}
                    <p role="menuitem">
                        This event is currently <span id="event-status-text" class="open">OPEN</span>
                        <hr/>
                    </p>                    
                {{ } else { }}
                    <p role="menuitem">
                        This event is currently <span id="event-status-text" class="closed">CLOSED</span>
                        <hr/>
                    </p> 
                {{ } }} 

                {{ if (event.get("open")) { }}
                    <a role="menuitem" href="#" role="buton" id='admin-stop-event'>
                        <i class='fa fa-stop fa-lg fa-fw'></i>
                        Stop event
                    </a>
                {{ } else { }}
                    <a role="menuitem" href="#" role="buton" id='admin-start-event'>
                        <i class='fa fa-play fa-lg fa-fw'></i>
                        Start event
                    </a>
                {{ } }}

                <a role="menuitem" href="/admin/event/{{= event.id }}" role="button" id="admin-page-for-event" target="_blank">

                    <i class="fa fa-pencil-square-o fa-lg fa-fw"></i>
                    Edit Event Info
                </a>
                
                {{ if (event.get("sessionsOpen")) { }}
                    <a role="menuitem" tabindex="-1" id="close-sessions" href='#'>
                        <i class="fa fa-lock fa-lg fa-fw"></i>
                        Close Sessions
                    </a>
                {{ } else { }}
                    <a role="menuitem" tabindex="-1" id="open-sessions" href='#'>
                        <i class="fa fa-unlock fa-lg fa-fw"></i>
                        Open Sessions
                    </a>
                {{ } }}
                <a role="menuitem" id="message-sessions" href='#' data-toggle="modal">
                    <i class="fa fa-share fa-lg fa-fw"></i>
                    Send Message to Sessions
                </a>

                {{ if (IS_SUPERUSER) { }}

                <a role="menuitem" id="superuser-page-for-followupemail" href="/followup/event/" target="_blank" data-toggle="modal">
                    <i class="fa fa-envelope fa-lg fa-fw"></i>
                    Send Followup Email
                </a>
                {{ } }}
            </li>

            <li class="dropdown dropdown-submenu">
                <a id="choose-breakout-mode" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class='fa fa-arrow-right fa-lg fa-fw'></i> Choose Breakout Sessions Mode
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" role="button" id="admin-proposed-sessions-mode"><i class='fa fa-user fa-lg fa-fw'></i> Admin Proposed Sessions </a></li>
                    <li><a href="#" role="button" id="participant-proposed-sessions-mode"><i class='fa fa-users fa-lg fa-fw'> </i> Participant Proposed Sessions</a></li>
                    <li><a href="#" data-toggle="modal" id="randomized-sessions"><i class="fa fa-random fa-lg fa-fw"></i> Randomized Sessions</a></li>
                </ul>
            </li>

        </ul> 
    </div>

    <script type="text/javascript"> 
        //Hide the youtube and webpage url form controls
        $(".youtube-url").hide();
        $(".webpage-url").hide();
        $(".join-cap-error").hide();
        $('[data-toggle="tooltip"]').tooltip();
        
    </script>

</script>

<script type="text/template" id="session-live-bar-template">
    <div>Your session is now live!</div>
    <a class="btn btn-success" target="_blank">Join Hangout!</a>
</script>

<script type="text/template" id="dialogs-template">
    <!-- Create Session Modal Dialog -->
    <div id="create-session-modal" class="create-session-modal modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="form-horizontal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Session</h4>
            </div>

            <div class="modal-body">
            
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="session_name">Session Name</label>

                    <div class="col-lg-9">
                        <input class="form-control" type="text" name="session_name" value="" id="session_name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label" for='join_cap'>Participant Limit</label>

                    <div class="col-lg-4">
                        <input class="form-control" type='number' min='2' max='10' step='1'
                           value='10' 
                           name='join_cap' id='join_cap' />
                        <span class='help-inline'>Minimum 2, maximum 10</span>
                    </div>
                </div>

            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-10 alert alert-warning alert-dismissible join-cap-error" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  Warning! Please enter a number between 2 and 10.
                </div>
            </div>

             <div class="form-group">
                     
                <label class="col-lg-3 control-label">
                    Session Type
                </label>

                <div class="col-lg-9">
                    <label class="radio-inline">
                      <input type="radio" name="session_type" value="simple" checked="checked"/> Simple 
                    </label>

                    <label class="radio-inline">
                      <input type="radio" name="session_type" value="video" /> Youtube Video
                    </label>

                    <label class="radio-inline">
                      <input type="radio" name="session_type" value="webpage"  /> Webpage
                    </label>
                    
                    <div class='form-group youtube-url'>
                        <p class="yt-error hide">
                            Unrecognized youtube URL.  Please use the URL for a single video.
                        </p>

                        <label class="col-lg-4 control-label" for="session_youtube_id">Youtube URL</label>
                        
                        <div class="col-lg-8">

                            <input class="form-control" type="text" name="youtube_id" value=""
                                   id="session_youtube_id"
                                   placeholder='https://youtube.com'>

                            <span class='help-block'>Paste the URL or embed code for a youtube video.</span>

                        </div>
                    </div>

                    <div class='form-group webpage-url'>
                        <label class="col-lg-4 control-label" for='session_webpage'>Webpage URL</label>

                        <div class="col-lg-8">

                            <input class="form-control" type='text' placeholder='https://example.com' id='session_webpage'/>

                            <div class='url-error hide' style='display: none;'>
                                Sorry, but only secure pages (those starting with "https")
                                can be embedded in hangouts.
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12 alert alert-danger alert-dismissible session-title-validate-error validate-error hide" role="alert">

                        <button type="button" class="close" data-dismiss="alert"><span class="sr-only">Close</span></button>
                    Title should be less than 80 characters

                    </div>

                </div>
            </div>

          </div> 

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            <button type="button" class="btn btn-primary" id="create-session" value="Create Session">Create Session</button>
          </div>

        </div>
      </div>
      </form>

    </div>

    <!-- Send messages to session dialog -->
    <div id="message-sessions-modal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send Message to All Hangout Sessions</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for='session_message' class="control-label col-lg-3">Message</label>

                        <div class="col-lg-9">
                            <textarea class="form-control" id='session_message' rows=5 cols=30></textarea>

                            <a class='add-url-to-message' style='cursor: pointer;'>
                                Add URL to event page
                                <i class='fa fa-level-up'></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-lg-3" for='session_message'>Message Preview</label>

                        <div class="col-lg-9">
                            <div class='faux-hangout-notice'>
                                <div class='message'></div>
                                <div class='close'>&times;</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='modal-footer'>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="send-session-message" value="Send Message">Send Message</button>

                </div>
            </div>
            </form>
        </div>
    </div>

    <!-- Admin hotkeys help dialog -->
    <div id="admin-hotkeys-help-modal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Hotkeys help</h4>
                </div>
                <div class="modal-body">
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+?:</span>
                        <span class="hotkey-description">This help menu</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+S:</span>
                        <span class="hotkey-description">Start/Stop event</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+E:</span>
                        <span class="hotkey-description">Edit event</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+C:</span>
                        <span class="hotkey-description">Create session</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+O:</span>
                        <span class="hotkey-description">Open sessions</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+W:</span>
                        <span class="hotkey-description">Close sessions</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+M:</span>
                        <span class="hotkey-description">Send message to sessions</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+A:</span>
                        <span class="hotkey-description">Cursor to chat message box</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+H:</span>
                        <span class="hotkey-description">Highlight/unhighlight chat message</span>
                    </div>
                    <div class="hotkey-help-item">
                        <span class="hotkey-key">CTRL+SHIFT+B:</span>
                        <span class="hotkey-description">Edit whiteboard</span>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal hide fade started-modal">
        <div class="modal-header"><h3></h3></div>
        <div class="modal-body">
            <p>It is time to join your session!</p>
            <a class="btn btn-success join-chosen-session" target="_blank">JOIN HANGOUT</a>
        </div>
    </div>

    <div class="modal fade disconnected-modal" id="disconnected-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Warning!</h4>
                </div>

                <div class="modal-body">
                    <p>An unexpected error has occured. You have been disconnected from the server. Please refresh the page to reconnect.</p>
                </div>

                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- My Contact Form dialog is here. Setting its data backdrop property is static disallowing it to close by itself -->
    <div class="modal my-contact-info-modal" id="my-contact-info-modal" role="dialog" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog">
            
            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title">My contact information</h4>
                </div>

                <div class="modal-body">
                    
                    <p><strong>What is this for? </strong> After the event, we will send you an email with the names and contact information of the people you interacted with (we will send a similar email to each participants). That way you can follow up and continue the conversations you started today. <br/><br/> 

                    We care about privacy and will never share your contact information with people outside of the event. <br/>

                    </p>

                    <form class="form-horizontal">
                        <div class="form-group">
                        
                            <div class="col-lg-12 no-padding">
                                <label class="control-label contact-label">
                                What is the best way for other unhangout participants to reach you?
                                 </label>
                            </div>

                        </div>

                        <div class="form-group">
                        
                            <div class="col-xs-2">
                                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                 Email 
                                </label>
                            </div>

                            <div class="col-xs-8">
                                <input class="form-control contact-control" type="text" name="email_info" id="email_info" placeholder="Email Address"> 
                            </div> 
                        </div>


                        <div class="form-group">
                        
                            <div class="col-xs-2">
                                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                 Twitter
                                </label>
                            </div>

                            <div class="col-xs-8">
                                <input class="form-control contact-control type="text" name="twitter_handle" id="twitter_handle" placeholder="@TwitterHandle">
                                
                            </div>
                        </div>

                        <div class="form-group">
                        
                            <div class="col-xs-2">
                                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                 LinkedIn
                                </label>
                            </div>

                            <div class="col-xs-8">
                                <input class="form-control contact-control" type="text" name="linkedin_url" id="linkedin_url" placeholder="LinkedIn Profile URL">
                                
                            </div>
                        </div>

                        <div class="form-group">
                            
                            <div class="col-lg-10 alert alert-danger alert-dismissible empty-contact-info-error has-success hide" role="alert">

                              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              Please enter information for atleast one contact type. If you do not wish to share your info, please select the check box below.

                            </div>

                            <div class="col-lg-9 alert alert-danger alert-dismissible email-validate-error validate-error hide" role="alert">

                              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              Please enter a valid email address. 

                            </div>

                            <div class="col-lg-9 alert alert-danger alert-dismissible twitter-validate-error validate-error hide" role="alert">

                              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              Please enter a valid twitter handle. 

                            </div>

                            <div class="col-lg-9 alert alert-danger alert-dismissible linkedin-validate-error validate-error hide" role="alert">

                              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              Please enter valid LinkedIn Profile URL. 

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding">

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" name="no-share" id="noShareChkBox"> I'd rather not share my info with other unhangout participants 
                                    </label>
                                </div>

                            </div>
                        </div>

                    </form>

                </div> 

                <div class="modal-footer">
                    <button id="submit-contact-info" type="button" class="btn btn-primary submit-contact-form" data-dismiss="modal">Submit</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade send-email-modal" id="send-email-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send Followup Email!</h4>
                </div>

                <div class="modal-body">
                    <p>After you hit the "Send Email" button, we'll send emails to all the partcipants of this event highlighting who did they talked to in a breakout room. Feel free to modify any information before you hit send email button. </p> 

                    <br/>

                    <p>Your email will appear as shown below: </p>

                    <img src="/public/img/dummy_email.png" ></>

                    </textarea>
                </div>

                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="button" id="send-email-button" class="btn btn-primary default" data-dismiss="modal">Send Email</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal embed-iframe-code-modal" id="embed-iframe-code-modal" role="dialog" aria-hidden="true">

        <div class="modal-dialog">
            
            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title">Insert an Iframe Code</h4>
                </div>

                <div class="modal-body">
                    <div class="row modal-row">
                        <div class="col-lg-12 no-padding">
                            <div class="col-lg-12 no-padding">
                                <div class="form-group">
                                    <div class="col-lg-12 no-padding">
                                        <textarea class="form-control input-iframe-code" rows="3" type="text" name="iframe_code" placeholder="Enter your iframe code here"value="" id="iframe_code"/> 
                                    </div>
                                </div>

                                <br/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary" class="embed-stream" id="set-iframe-code" data-dismiss="modal">Insert</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal propose-session-modal" id="propose-session-modal" role="dialog" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title">Propose a Session</h4>
                </div>

                <div class="modal-body">
                    <div class="row modal-row">
                        
                        <div class="input-topic-box col-lg-12 no-padding">

                            <div class="col-lg-12 no-padding">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label no-padding session-title-label" for="topic_title">Session Title</label>

                                    <div class="col-lg-9 no-padding">
                                        <input class="form-control input-topic-title" type="text" name="topic_title" placeholder="Enter session title in less than 80 characters"value="" id="topic_title">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 no-padding">
                                 <hr/> 
                            </div>
                        </div>

                        <div class="session-preview col-xs-12">

                        <div class="col-xs-12 proposed-session-box">
                            <div class="col-lg-8 col-xs-7 no-padding">

                                <p class="title-preview">Your title will appear here</p>
                              
                            </div>

                            <div class="col-lg-4 col-xs-5 left-padding">
                                <div class="col-xs-12 no-padding">
            
                                    <div class="col-lg-3 col-xs-4 no-padding">
                                        <img src="<%= user.get("picture")%>" id="participantPic"> 
                                    </div>

                                    <div class="proposee-display-name col-lg-9 col-xs-8 no-padding">      
                                        <%= user.get("displayName")%>
                                    </div>       
                            

                                    <div class="col-xs-12 no-padding">
                                        <button class="btn btn-primary btn-vote" disabled=" ">
                                            VOTE | 1 
                                            </button>
                                    </div>

                                </div>

                            </div>

                        </div>
                        </div>  

                        <div class="col-lg-12 alert alert-danger alert-dismissible proposed-title-validate-error validate-error hide" role="alert">

                            <button type="button" class="close" data-dismiss="alert"><span class="sr-only">Close</span></button>
                            Title should be less than 80 characters

                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary" class="propose" id="propose" data-dismiss="modal">Propose</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal randomized-sessions-modal" id="randomized-sessions-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose group size and enable randomized sessions mode</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for='join_cap'>Group Size</label>

                            <div class="col-lg-4">
                                <input class="form-control" type='number' min='2' max='10' step='1'
                                   value='10' 
                                   name='join_cap' id='join_cap' />
                                <span class='help-inline'>Min 2, max 10</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary enable-randomized-sessions-mode" id="enable-randomized-sessions-mode" data-dismiss="modal">Enable Randomized Sessions Mode</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal regroup-modal" id="regroup-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to regroup?</h4>
                </div>
                <div class="modal-body">
                    <p class="warning"> It seems like you already have a Google Hangout window open. Close that first, and then try again!</p>
                    <p class="info"> You will lose your spot in your current group
                    and will not be able to rejoin. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger regroup" id="regroup" data-dismiss="modal">Yes, Regroup</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="no-urls-warning" role="dialog" aria-hidden="true">
         <div class="modal-content">
             <div class="modal-header">
                 <h3>NO HANGOUT URLS AVAILABLE</h3>
             </div>
             <div class="modal-body alert alert-danger">
                     <p>There are currently <strong><%= numHangoutUrlsAvailable %></strong> Hangout urls available on the server. Sessions started when there are no urls available will fall back to the callback method of hangout starting, which requires the first person to join a session to create the hangout. This is not desireable; we strongly recommend you farm some hangout urls by clicking "farm" below. For this process to work, your google acount must have "create video calls for events" set in your google calendar account settings.
             </div>
             <div class="modal-footer">
                 <a class="btn btn-success" id="farm-urls" href="/hangout-farming" target="_blank">Farm</a>
                 <a href="#" class="btn btn-default" id="dismiss-farming-warning" data-dismiss='modal'>Dismiss</a>
             </div>
         </div>
     </div>
</script>

<% include _video-templates.ejs %>

<%- requireScripts("/public/js/event-app.js") %>
<% include _analytics.ejs %>
<% include _preload-facilitator.ejs %>
<% include _footer.ejs %>
