<% include _header.ejs %>
<link rel='stylesheet' type='text/css' href='/public/css/facilitator.css' />

<% if (!session) { %>
    <h2>Unhangout Facilitator</h2>
    <p>No session found. Facilitator disabled. :(</p>
<% } else { %>

<div id='app'>
</div>

<script type='text/template' id='facilitator'>
  <!-- parent has class "main-window" -->
  <div class='columns'>
    <div class='left-column'>
      <!-- Video area if in sidebar mode; hidden otherwise -->
    </div>
    <div class='right-column'>
      <!-- Sidebar or main -->
      <div class='facilitator'>
        <div class='header-row'>
          <div class='title'>
            <div class='title-contents'>
                <a class='shrink btn' href='#'>Shrink &rArr;</a>
                <a class='grow btn' href='#'>&lArr; Grow</a>
                <div class='hide-app'>Hide</div>
                <span class='name'>{{- session.get('title') || session.get('shortCode') || "Hangout Permalink" }}</span>
            </div>
          </div>
        </div>
        <div class='activity-holder'>
          <div class='activity'></div>
        </div>
        <div class='footer-holder'>
          <div class='footer'>
            Powered by the <a href='https://unhangout.media.mit.edu' target="_blank">Unhangout Project</a>
          </div>
        </div>
      </div> <!-- /facilitator -->
    </div> <!-- /right-column -->
  </div> <!-- /columns -->
</script>

<script type='text/template' id='event-message-view'>
    <div class='modal-header'>
        {{ if (dismissable) { }}
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        {{ } }}
        <h3>Message from {{- sender }}</h3>
    </div>
    <div class='modal-body'>
        <b>{{- sender }}</b>: {{- message }}
    </div>
    {{ if (dismissable) { }}
        <div class='modal-footer' style='text-align: center;'>
            <a href='#' class='btn' data-dismiss='modal'>Close</a>
        </div>
    {{ } }}
</script>

<script type='text/template' id='about-activity'>
    <p>
        This app helps the Unhangout Permalink service find the hangout, so
        that all participants end up in the same place.  You can hide this
        panel by clicking <a href='#' class='hide-app'>hide</a>.
    </p>
    <% if (session.get('isPermalinkSession')) { %>
        <p>Invite others with this link:
            <input id='share-link' type='text' readonly
             value='<%= baseUrl %>/h/<%= session.get('shortCode') %>' />
        </p>
    <% } %>
    {{ if (activity.autoHide) { }}
        <p class='auto-hide'>
            We will auto-hide in: <span class='countdown'>15</span>
            <a class='cancel-autohide btn'>Cancel auto-hide</a>
        </p>
    {{ } }}
    <a href='#' class='add-activity btn btn-warning'>
        <i class='icon icon-gear'></i>
        Add webpage or video
    </a>
</script>

<script type='text/template' id='no-auth-activity'>
    <div class='alert alert-error'>
        We could not log you in to Unhangout. Either you haven't logged in, or
        your browser is blocking us.
    </div>
    <div class='alert alert-warning'>
        Please visit <a href='<%= baseUrl %>'>Unhangout</a> and log in.  Your
        browser must either have local storage enabled or allow 3rd-party
        cookies from <nobr><tt><%= baseUrl %></tt></nobr>.
    </p>
</script>

<script type='text/template' id='add-activity-dialog'>
    <form>
        <div class="modal-header"><h3>Add webpage or video</h3></div>
        <div class="modal-body">
            <p>Paste the link to a YouTube video, etherpad, or other webpage
               here to embed in the hangout:</p>
            <input type='text' placeholder='https://...' />
            <div class='ssl-error-message alert-error' style='display: none;'>
                Sorry, but only secure pages (those starting with "https") can
                be embedded in hangouts.
            </div>
            <div style='height: 1em;'>
                <div class='valid-youtube small alert-success' style='display: none;'>
                    Youtube video recognized.
                </div>
                <div class='valid-webpage small alert-success' style='display: none;'>
                    Recognized as a webpage.
                </div>
            </div>
        </div>
        <div class='modal-footer'>
            <a href="#" class="btn pull-left" data-dismiss='modal' >Close</a>
            <a href="#" class="remove-embed btn btn-warning pull-left">Remove current embed</a>
            <input type='submit' class='btn btn-primary' value='Embed webpage or video' />
        </div>
    </form>
</script>
<script type='text/template' id='video-activity'></script>

<script type='text/template' id='webpage-activity'>
    <div class='loading'>
        Loading ...
    </div>
    <table style='width: 100%; height: 100%;'>
        <tr><td style='height: 100%;' class='iframe-holder'></td></tr>
        <tr><td>
            <a href='#' class='activity-settings btn btn-warning'>
                <i class='icon icon-gear'></i> Change embedded page
            </a>
    </table>
</script>

<script type='text/template' id='remove-activity'>
    <div class="modal-header"><h3>Remove this?</h3></div>
    <div class="modal-body">
        <p>Would you like to remove this for all participants?</p>
    </div>
    <div class='modal-footer'>
        <a href="#" class="btn pull-left" data-dismiss='modal' >Cancel</a>
        <input type='submit' class='btn btn-primary' value='Remove' />
    </div>
</script>

<script type='text/template' id='switch-hangouts'>
    <div class="modal-header"><h3>This is the wrong hangout</h3></div>
    <div class="modal-body">
        <p>
            Sorry about that.  You ended up in the wrong hangout somehow &mdash;
            probably two people created it at once.  The hangout for your session
            is over here:
        </p>
        <p style='text-align: center;'>
            <a class='btn btn-large btn-danger'
               href='{{- url }}' target="_top" id='wrong-hangout-url'>
                Click to Join the Correct Hangout
            </a>
        </p>
    </div>
</script>

<!-- Disconnection modal -->
<div class="modal hide fade disconnected-modal" id="disconnected-modal">
    <div class="modal-header"><h3>Warning!</h3></div>
    <div class="modal-body">
        <p>An unexpected error has occured. You have been disconnected from the server. Trying to reconnect...</p>
        <a href="#" class="btn" data-dismiss='modal' >Close</a>
    </div>
</div>

<% include _video-templates.ejs %>

<script type='text/javascript'>
    // Set up global data
    var HANGOUT_ORIGIN_REGEX = new RegExp("<%- hangoutOriginRegex %>");
    <% if (event) { %>
        var EVENT_ATTRS = <%- JSON.stringify(event.toClientJSON()) %>;
    <% } else { %>
        var EVENT_ATTRS = {};
    <% } %>
    var SESSION_ATTRS = <%- JSON.stringify(session.toJSON()) %>;
</script>
<%- requireScripts("/public/js/facilitator.js") %>

<% } %>
<% include _analytics.ejs %>
<% include _footer.ejs %>
