<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<!-- Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *      
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License
-->
<ModulePrefs title="Unhangout Manager">
        <Require feature="rpc" />
        <Require feature="views" />
</ModulePrefs>
<Content type="html"><![CDATA[
<!DOCTYPE html>
<html>
    <head>
        <% if (mock) { %>
            <script type='text/javascript'>
                var MOCK_DATA = {
                    startTime: new Date().getTime(),
                    users: '<%- JSON.stringify(mockUsers) %>',
                    hangoutUrl: "<%= mockHangoutUrl %>",
                    appData: "<%= mockAppData %>"
                }
                console.log("MOCK DATA", MOCK_DATA);
            </script>
            <script src='/public/js/mock-hangout-api.js'></script>
        <% } else { %>
            <script src='//plus.google.com/hangouts/_/api/v1/hangout.js'></script>
        <% } %>
    </head>
    <body style='width: 100%; height: 100%; padding: 0; margin: 0;'>
        <script type='text/javascript'>
            if (typeof console === "undefined") {
                console = {log: function(){}, info: function(){}, error: function(){}};
            }
            // Increment this to be able to immediately tell if google is
            // serving the latest or a cached version.
            var version = 5;
            console.log("Unhangout Facilitator version " + version);
            gadgets.util.registerOnLoadHandler(function() {
                gapi.hangout.onApiReady.add(function(event) {
                    if (!event.isApiReady) { return; }
                    var iframe = document.createElement('iframe');
                    var appData = gadgets.views.getParams()['appData'] || "";
                    // TODO: handle null session ID / appData
                    console.log("appData:", appData);
                    var parts = appData.split(":");
                    var sessionId = parts[1];
                    console.log("Session ID:", sessionId);
                    var url = "<%= unhangoutBaseUrl %>/facilitator/" + sessionId + "/";
                    console.log(url);
                    // Create the session iframe which will handle the rest.
                    iframe.src = url;
                    iframe.width = "100%";
                    iframe.height = "100%";
                    iframe.style.width = "100%";
                    iframe.style.height = "100%";
                    iframe.style.border = "none";
                    iframe.style.overflow = "none";
                    iframe.style.position = "absolute";
                    iframe.style.left = "0px";
                    iframe.style.top = "0px";
                    document.body.appendChild(iframe);

                    var urlArgs = { url: gapi.hangout.getHangoutUrl() };
                    var pollCount = 0;

                    // Poll the inner iframe with our data until it ack's.
                    var tellUrl = setInterval(function() {
                        iframe.contentWindow.postMessage({
                            type: "url",
                            args: urlArgs
                        }, "<%= unhangoutBaseUrl %>");
                        pollCount += 1;
                    }, 10);

                    // Periodically tell inner frame our paricipants once we've
                    // acked.
                    var tellParticipants = setInterval(function() {
                        iframe.contentWindow.postMessage({
                            type: "participants",
                            args: { participants: gapi.hangout.getParticipants() }
                        }, "<%= unhangoutBaseUrl %>");
                    }, 5000);

                    // Cancel after a while if we've gotten no ack -- but warn.
                    setTimeout(function() {
                        if (tellUrl) {
                            console.log(urlArgs);
                            alert("Error loading unhangout facilitator.");
                            console.error("Failed to get ack; poll count: " + pollCount);
                            clearInterval(tellUrl);
                        }
                    }, 30000);

                    function receiveMessage(event) {
                        if (event.origin === "<%= unhangoutBaseUrl %>") {
                            if (event.data.type === "url-ack") {
                                clearInterval(tellUrl);
                                tellUrl = null;
                                console.log("outerCDM", event.data.type);
                            }
                        }
                    }
                    window.addEventListener('message', receiveMessage, false);
                });
            });
        </script>
    </body>
</html>
]]>
</Content>
</Module>
