<% include header.ejs %>
<div id="home" class="section">
		<h1>Welcome to Unhangout!</h1>
		<p>A platform for running large scale online un-conference-style events using Google Hangouts for many simultaneous small sessions.</p>
		
		<h2>Upcoming and Live Events</h2>
		<% events.each(function(event) {%>
		<div class="event" id="event-<%=event.id%>">
		<h3><%=event.get("title")%></h3>
		<div class="organizer"><%=event.get("organizer")%></div>
		<div class="description"><%=event.get("description")%></div>
		<% if(event.isLive()) {%>
		<a class="btn btn-primary" href="/event/<%=event.id%>">Join!</a>
		<% } else { %>
		<div class="start-time"><%= event.getStartTimeFormatted() %></div>
		<% } %>
		</div>
		<% }); %>
</div>


<div id="about" class="section">
<h1>About</h1>
<p><strong>Unhangout</strong> is an open source platform for running large scale online un-conference-style events using Google Hangouts to create many simultaneous small sessions. Think of it like a classroom with infinitely many breakout rooms. We provide a text-based chat experience that can support hundreds of participants chatting or watching a live video stream together. When you want to create more opportunity for participation, you can break out into up-to-ten person Google Hangout sessions that create opportunities for peer learning instead of just top-down information transfer that is typical in large scale online education.</p>

<h3>Open Source</h3>
<p><strong>Unhangout</strong> is an open source project. You can find the code in <a href="https://github.com/drewww/unhangout">our repository on GitHub</a>. Please let us know if you're interested in hosting your own unhangout events - we would be happy to help you get this set up on your own servers. In some situations, we might be able to host your event on our installation, too.<p>

<h3>The Team</h3>
<p>Our three person design and development team is based at the MIT Media Lab in Cambridge, MA.</p>
<ul>
<li><a href="http://www.media.mit.edu/people/ps1">Philipp Schmidt</a></li>
<li><a href="http://web.media.mit.edu/~dharry">Drew Harry</a></li>
<li><a href="http://srishtisethi.blogspot.com/">Srishti Sethi</a></li>
</ul>


<h3>Acknowledgements</h3>
<p><strong>Unhangout</strong> is made possible by the generous support of the MacArthur Foundation and the MIT Media Lab</p>

</div>

<% include footer.ejs %>