<% include _header.ejs %>
<% include _navbar.ejs %>
<% var sessions; %>

<div class='container myevents-container'>
    
    <h3>My Events</h3>

    <div id='app'>
        <div id='main'></div>
    </div>

    <script type='text/template' id='event-table'>

        <table style='width: 100%;' class='event-table'>
            <tbody></tbody>
        </table>

    </script>

    <script type='text/template' id='event-row'>
        <td> 
            <div class='myevents-event-row col-xs-12'>
                
                <div class='title col-lg-2 col-md-2 col-sm-2 col-xs-4'>
                    <a href="/admin/event/{{- id }}">
                        <button class="btn btn-primary btn-edit-title col-lg-3"><i class="fa fa-pencil-square-o"></i></button>
                    </a>
                </div>

                <div class='col-lg-6 col-md-2 col-sm-2 col-xs-4'>
                    <h4 style='display: inline;'>
                        <a href="/event/{{- id }}">
                            {{- title }} 
                        </a>
                    </h4>

                </div> 

                <!--<div class="col-lg-3 col-xs-4">
                    {{ _.each(admins, function(admin) { }}
                      
                      <button class="btn btn-primary">{{- admin.id }} </button>

                    {{ }); }}

                </div> -->

                <div class='col-lg-4 pull-right'>
                    <button class="btn btn-primary add-remove-admin col-lg-8"> Add or remove an admin</button> 
                </div>  

            </div>      

        </td>

    </script>

    <h3><a href="/admin/event/new" class="btn btn-lg btn-primary" id="myevents-create-new-event">Create an Unhangout</a></h3>
       
    <!-- <div class="row">
        <div id="events">
            <% events.forEach(function(event) { %>
                <div class='myevents-event-row col-xs-12'>
                    
                    <div class='title col-lg-1 col-md-2 col-sm-2 col-xs-4'>
                        
                        <h4 style='display: inline;'>
                            <a href="/event/<%= event.id %>">
                                <%= event.get("title").trim() || "[untitled]" %>
                            </a>
                        </h4>

                    </div>

                    <% var date = event.get("dateAndTime"); %>

                    <% if (date) { %>

                        <div class='date col-lg-1 col-xs-4'>
                            <%= moment(date).format("D MMM YYYY") %>
                        </div>

                    <% } %>

                    <div class='col-lg-offset-6 col-lg-4'>
                        <a href="/admin/event/<%= event.id %>">
                            <button class="btn btn-primary btn-edit-title col-lg-2"><i class="fa fa-pencil-square-o"></i></button>
                        </a>

                        <a href="">
                            <button class="btn btn-primary btn-add-admin col-lg-2"><i class="fa fa-plus"></i></button> 
                        </a>
                    </div>

                </div>

            <% }); %>

        </div> 

        <h3><a href="/admin/event/new" class="btn btn-lg btn-primary" id="myevents-create-new-event">Create an Unhangout</a></h3>

        <br/> -->
        
        <% if (permalinkSessions) { %>
          <div>
            <h3>Permalink Sessions</h3>
            <% sessions = permalinkSessions; %>
            <% include _permalink_session_table.ejs %>
          </div>

          <h3><a href="/admin/event/new" class="btn btn-lg btn-primary" id="admin-create-new-event">Create a Permalink</a></h3>

        <% } %>

    </div>

</div>

<script type='text/template' id='event-admin-adder'>
    <div class="modal-dialog event-admin-adder">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add/ Remove an admin from <font color="#2e7daa">{{- event.get("title") }} </font> event</h4>
            </div>

            <div class="modal-body">
                <form class='form-horizontal' action>
            
                    <div class="form-group">
                    
                        <div class="col-lg-9">
                            <input class='filter-email form-control' type='text' placeholder='Enter the email address of an admin' value="" />
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-lg-9 alert alert-danger alert-dismissible email-validate-error hide" role="alert">

                            <button type="button" class="close" data-dismiss="alert"><span class="sr-only">Close</span></button>
                            
                            Please enter a valid email

                        </div>
                    </div>

                </form>

            </div>

            <div class='modal-footer'>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
                <button type="button" class="btn btn-primary remove" data-dismiss="modal">Remove</button>

                <button type="button" class="btn btn-primary add" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</script>


<script type='text/javascript'>
    var USER_DATA = <%- JSON.stringify(users) %>;
    var EVENT_DATA = <%- JSON.stringify(events) %>;
</script>

<%- requireScripts("/public/js/myevents.js") %>
<% include _footer.ejs %>
