<% include _header.ejs %>
<% include _navbar.ejs %>

<div class="container permalink-hangout-page">

<form action="/h/admin/<%=session.get("shortCode")%>" method="post" encoding="application/x-www-form-urlencoded">
    <% if(showAdmin) { %>

    <input name="creationKey" type="hidden" id="creationKey" value="<%= session.get("creationKey") %>">

    <label class="col-lg-12 control-label">Set title and description</label>
  

    <div class="col-lg-12 form-group">
        <input id="title" name="title" type="text" class="form-control" placeholder="Title">
    </div>

    <div class="col-lg-12 form-group">
        <textarea name="description" id="description" placeholder="Description" class="form-control"></textarea>
    </div>

    <div class="col-lg-12 form-group">
        <button type='submit' class="btn btn-primary col-lg-1" id="session-update" value='Submit'>Submit</button>
    </div>

    <% } else { %>

    <br/>
    
    <div class="col-lg-10 permalink-title-col">
        <h1 class="permalink-title"><%= session.get("title").length > 0 ? session.get("title") : session.get("shortCode") %></h1>
    </div>

    <div class="col-lg-2 hangout-status">
        <% if(session.getState() != "stopped") { %>
            <i class="icon-facetime-video"></i>
        <% } else { %>
            <i class="icon-remove-sign"></i>
        <% } %>

        <h3>
        <%= session.getState() == "started" ? "Live" : "Offline" %>
        </h3>
    </div>

    <div class="col-lg-12 permalink-desc-row">
        <p class="permalink-description"><%= session.get("description") %></p>
    </div>

    <% } %>
</form>

<br><br>

<% if(session.getState() == "started") { %>

<h3 class="participants-header">Currently connected particpants</h3>
<hr class='noshade' size=2 class="line">

<br>

<div class="participant-info">
    <% _.each(session.get("connectedParticipants"), function(udata) { %>
        <div class='participant'>
            <% if (udata.link) { %><a href="<%= udata.link %>" target="blank"><% } %>
            <img style='width: 100px; height: 100px' src="<%= udata.picture %>" alt='profile image' />
            <% if (udata.link) { %></a><% } %>
            <span class="overlay"><%= udata.displayName %></span>
        </div>
    <% }); %>

</div>

<% } %>

<div class="col-lg-2 btn-join-hangout">
    <a href="/session/<%= session.get("session-key") %>?nocache=<%= new Date().getTime() %>" class="btn btn-success btn-large" target="_new">Join Hangout</a>
</div>

</div>

<div class='col-lg-12 footer permalink-footer'>
    <div class="container">
        This service is part of the <a href="/">Unhangout Project</a> from the MIT Media Lab and MacArthur Foundation. Source available at <a href="http://github.com/drewww/unhangout">Github</a>.
    </div>
</div>

<% include _preload-facilitator.ejs %>
<% include _footer.ejs %>
