<% include _header.ejs %>
<% include _permalink-navbar.ejs %>

<div class="container">

<form action="/h/admin/<%=session.get("shortCode")%>" method="post" encoding="application/x-www-form-urlencoded">
	<% if(showAdmin) { %>

	<input name="creationKey" type="hidden" id="creationKey" value="<%= session.get("creationKey") %>">

	<input id="title" name="title" type="text" class="large" placeholder="Title">
	<textarea name="description" id="description" placeholder="Description"></textarea>
	<input type='submit' class="btn btn-primary" id="session-update" value='SET TITLE AND DESCRIPTION'>
	<% } else { %>

	<br/>

	<span class="permalink-title"><%= session.get("title").length > 0 ? session.get("title") : session.get("shortCode") %></span>

	<div class="hangout-status">
		<% if(session.getState() != "stopped") { %>
			<i class="icon-facetime-video"></i>
		<% } else { %>
			<i class="icon-remove-sign"></i>
		<% } %> 

		<span>
		<%= session.getState() == "started" ? "LIVE" : "OFFLINE" %>
		</span>
	</div>

	<br/><br/>

	<p class="permalink-description"><%= session.get("description") %></p>
	
	<% } %>
</form>

<br><br>

<% if(session.getState() == "started") { %>

<span class="participants-header">Currently connected particpants</span>
<hr noshade size=2 class="line">

<br>

<div class="participant-info">
	<% _.each(session.get("connectedParticipants"), function(udata) { %>
        <div class='participant'>
            <% if (udata.link) { %><a href="<%= udata.link %>" target="blank"><% } %>
            <img width=100 height=100 src="<%= udata.picture %>" alt='profile image' />
            <% if (udata.link) { %></a><% } %>
            <span class="overlay"><%= udata.displayName %></span>
        </div>
	<% }); %>

	<br/><br/><br/><br/>
</div>

<% } %>

<a href="/session/<%= session.get("session-key") %>?nocache=<%= new Date().getTime() %>" class="btn btn-success btn-large" target="_new">JOIN HANGOUT</a>

</div>

<% include _sponsorship.ejs %>

<% include _preload-facilitator.ejs %>
<% include _footer.ejs %>
