<% include permalink-header.ejs %>

<div class="container">
<div class="alert">
We've switched to SSL throughout the unhangout site, to (hopefully) relieve some occasional issues with browsers sometimes blocking hangout application messages to our servers. Let me know at <a href="mailto:dharry@media.mit.edu">dharry@media.mit.edu</a> if this move to https causes you any issues! Thanks!
</div>

<form action="/h/admin/<%=session.get("shortCode")%>" method="post" encoding="application/x-www-form-urlencoded">
	<% if(showAdmin) { %>

	<input name="creationKey" type="hidden" id="creationKey" value="<%= session.get("creationKey") %>">

	<input id="title" name="title" type="text" class="large" placeholder="Title">
	<textarea name="description" id="description" placeholder="Description"></textarea>
	<submit class="btn btn-primary" id="session-update">SET TITLE AND DESCRIPTION</submit>
	<% } else { %>

	<br/>

	<span class="permalink-title"><%= session.get("title").length > 0 ? session.get("title") : session.get("shortCode") %></span>

	<div class="hangout-status">
		<% if(session.get("hangoutConnected")) { %>
			<i class="icon-facetime-video"></i>
		<% } else { %>
			<i class="icon-remove-sign"></i>
		<% } %> 

		<span>
		<%= session.get("hangoutConnected") ? "LIVE" : "OFFLINE" %>
		</span>
	</div>

	<br/><br/>

	<p class="permalink-description"><%= session.get("description") %></p>
	
	<% } %>
</form>

<br><br>

<% if(session.get("hangoutConnected")) { %>

<span class="participants-header">Currently connected particpants</span>
<hr noshade size=2 class="line">

<br>

<div class="participant-info">
	<% _.each(session.get("connectedParticipantIds"), function(id) { %>

		<% if(users.get(id).get("link")) { %>
			<a href="<%= users.get(id).get("link") %>" target="blank">
			<img width=100 src="<%= users.get(id).get("picture") %>">
			</a>
		<% } else { %>	
			<img width=100 src="<%= users.get(id).get("picture") %>">
		<% } %> 

		<span class="overlay"><%= users.get(id).get("displayName") %></span>

	<% }); %>

	<br/><br/><br/><br/>
</div>

<% } %>

<a href="/session/<%= session.get("session-key") %>" class="btn btn-success btn-large" target="_new">JOIN HANGOUT</a>

</div>

<% include footer.ejs %>